[2012-07-31 14:43] elf-pavlik opened #2 "add plain text version of system emails"
at this moment i mostly use terminal based mail client and find it an extra effort to deal with html only messages...

i can try looking up how to add plain text, i remember RoR should make it rather easy :)

[2012-08-02 12:15] arthurlutz opened #3 "Gherkin installation fails in "bundle install""
Maybe I should post this in the gherkin issue tracker ?

Installing gherkin (2.1.5) with native extensions
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

[code]

checking for main() in -lc... yes
creating Makefile

make
gcc -I. -I. -I/usr/lib/ruby/1.8/x86_64-linux -I. -D_FORTIFY_SOURCE=2  -D_FORTIFY_SOURCE=2 -fPIC -fno-strict-aliasing -g -g -O2  -fPIC  -O0 -Wall

[2012-08-29 11:36] elf-pavlik opened #4 "setup translation project on transifex.com"
i started setting up a sharetribe instance for occupy.net network, i guess people would like to translate it to their native languages :)

I already have setup a project for bettermeans on  https://www.transifex.com which I find the most nice to use platform running itself an open source codebase. I would like that people could learn it's interface and than contribute to all kind of projects which

[2012-08-29 17:50] elf-pavlik opened #5 "move to ruby 1.9.3"
i see you suggest ruby 1.8 i started setting up development with ree-1.8.7 (using rbenv) which allowed me to start server, then in production adding thin or unicorn to gemfile put me it some crazy trip with bundler and gem dependencies :(

i would like to first get all specs and cukes to pass on my dev setup and then see how it goes with running on 1.9.3 do you have some xp with it already?

[2012-08-30 15:38] elf-pavlik opened #6 "setup Continous Integration"
i don't have experience with setting it up but most likely would give this one a shot: http://travis-ci.org

[2012-09-01 19:56] elf-pavlik opened #7 "cleanup (prune) old branches"
i would recommend to keep in sharetribe/sharetribe repo only branches of everyone's interest, still on forks everyone can keep all kind of stuff for one's own convenience. many of current branches seam to me like a good candidates to delete them from this _main_ repo here.

we were also talking earlier with @gnomet on irc about git branching workflow, here i would suggest sticking to _gitflow_: ht

[2012-09-01 20:58] elf-pavlik opened #8 "move custom code out of "features/support/env.rb""
[code]

shows list of custom edits while top of the file reads:

[code]

bumped on it while updating gems and running as recommended:

[code]

[2012-09-03 09:49] #3 closed, assigned to gnomet

[2012-09-03 21:19] #7 closed, assigned to gnomet

[2012-09-05 16:50] elf-pavlik opened #9 "update gem dependencies"
ok, i decided to make it a separate issue from #5 (updating to ruby 1.9.3) because i find current Gemfile a real roadblock for me to do anything else :( now it also takes over issue #3

when i add any new gem to Gemfile and run

[code]

i get into a hell of error messages! starting from super cool:

[code]

https://github.com/carlhuda/bundler/issues/2081

first it stopped me from adding 'thin' or

[2012-09-05 16:59] elf-pavlik opened #10 "upgrade to rails 3.2"
those screencast may come handy:
http://railscasts.com/episodes/282-upgrading-to-rails-3-1
http://railscasts.com/episodes/318-upgrading-to-rails-3-2

i find it having some very handy features, especially _asset pipeline_ :)

we could get on it after we update gems #9, have working CI #6 and move to ruby 1.9.3 #5

[2012-09-10 04:21] #9 closed, assigned to gnomet

[2012-09-10 04:22] #8 closed, assigned to gnomet

[2012-09-21 11:55] elf-pavlik opened #11 "NoMethodError in Api/listings#show"
commit c2d7b2b7426de20d157f666ba6f2d34cc6382621

**AFTER CREATING AN OFFER WITH WEB INTERFACE**

 Showing /home/dev/sharetribe/app/views/listings/show.haml where line #84 raised:

[code]

Extracted source (around line #84):

[code]

**TRYING IN RAILS CONSOLE**

[code]

[2012-09-23 05:50] #5 closed, assigned to gnomet

[2012-10-06 10:30] #11 closed, assigned to nobody

[2012-10-30 15:41] elf-pavlik opened #12 "eveluate OpenBadges (from Mozilla)"
more as a low priority note... i see using open and standardized badges infrastructure as more attractive than crafting custom and sharetribe specific one, must admit that haven't investigated your badges in more detail yet...

http://openbadges.org

https://github.com/alfielapeter/badges_engine

[2012-12-03 10:38] elf-pavlik opened #13 "support for PostgreSQL"
it looks like at this moment schema doesn't load if I try using PostgreSQL...

[code]

any strategic reason for not supporting databases other than MySQL?

[2012-12-03 22:00] elf-pavlik opened #14 "server admin: Backups"
i would like to add to documentation recommendations for backing up and restoring data
https://github.com/sharetribe/sharetribe/wiki/Admin-of-Sharetribe-server

things to backup:
1. database
2. uploaded images (public/system/ ?)
3. ?anything else?

[2012-12-03 22:06] elf-pavlik opened #15 "sharetribe.org"
folks from occupy.net just organized a wildcard SSL cert for their permabank.net domain where i plan to setup sharetribe for them. i started changing footer to just say: "powered by ShareTribe" and for now will link to github repo here. maybe good time to setup something simple for sharetribe.org? :)

[2012-12-04 08:02] #10 closed, assigned to gnomet

[2012-12-08 03:34] elf-pavlik opened #16 "hardcoded ".sharetribe.com" in app/views/communities/_new_tribe_form.haml"
line 28 :)

[2012-12-13 10:06] elf-pavlik opened #17 "problems with UUIDs"
on a VPS i use current way of getting UUIDs didn't work, to get it working i made changes:

[code]

also had some problems with limit of 22 characters for this string and changing it in schema.rb for 36 solved it for me... and this part i find most tricky for existing systems, why did you choose to make UUIDs a pseudo UUIDs and limit them to 22 characters? would like to talk it over before merging

[2012-12-13 10:46] elf-pavlik opened #18 "support for glocal tribes"
we already use one **glocal** tribe for OuiShare and I would like to encourage people from few other communities to start such tribes as well. at this moment it looks like you assume all tribes sharing common locality. maybe with just few modifications we could enable **glocal** ones?

[2012-12-13 13:41] elf-pavlik opened #19 "existing public offer doesn't show in a new tribe i've created"
i have a public offer created through ouishare tribe:
https://ouishare.sharetribe.com/listings/27549-participation-in-hackathons-?locale=en

now after creating edgeryders tribe it doesn't show any offers:
https://edgeryders.sharetribe.com/people/b0-Pno2X0r4BoAabWuarwG?locale=en

looks like a bug ;)

[2012-12-14 14:19] elf-pavlik opened #20 ":domain_redirect filter sending me to sharetribe.com"
i had some problems with my setup using virtual machines and made fast one directly on my OS
somehow i ended up getting redirected sometimes to sharetribe.com domain, i must say that i don't fully understand this issue and just wanted to add it to tracker here :)

[code]

while requesting testing.sharetribe. **dev** which i configured in my /etc/hosts

maybe all the logic you have in this filter c

[2012-12-14 15:05] #20 closed, assigned to nobody

[2012-12-17 01:11] elf-pavlik opened #21 "add support for oEmbed"
from http://oembed.com
"oEmbed is a format for allowing an embedded representation of a URL on third party sites. The simple API allows a website to display embedded content (such as photos or videos) when a user posts a link to that resource, without having to parse the resource directly."

on can see it in action for example on twitter:
- https://twitter.com/JoSanKu/status/271119533786423297 (sl

[2012-12-18 14:23] #15 closed, assigned to gnomet

[2012-12-19 01:14] elf-pavlik opened #22 "replace gem memcache-client with dalli"
https://github.com/mperham/memcache-client says
"memcache-client is deprecated as of August 2010. It will be supported through 2010 but new code should use Dalli instead."

and points to: https://github.com/mperham/dalli
"is approximately 20% faster than memcache-client (which itself was heavily optimized) in Ruby 1.9.2."

"Dalli has no runtime dependencies and never will. You can optionally insta

[2012-12-19 01:28] elf-pavlik opened #23 "review Gemfile"
just noticed that 2 gems have comments as not used
- whenever
- postmark-rails

i would also look at moving to test:
- database_cleaner
- rspec-rails

also we don't need
- cucumber
  since cucumber-rails depends on it

for
- passenger
  i could add documentation on how to configure nginx + unicorn

do you still use:
- spreadsheet
  ?

[2012-12-24 00:26] elf-pavlik opened #24 "add ActivityStreams"
for another hackternoon :) - http://activitystrea.ms

i would just focus on JSON and pretty much ingnore Atom for now...
http://activitystrea.ms/specs/json/1.0/

looking at: http://activitystrea.ms/specs/json/schema/activity-schema.html i see:
- offer
- request
- borrow
- return
- give
- receive
- purchase
- sell
- use
- consume
- approve
- reject

so far i miss only
- lend
- recover

  :)

we cou

[2012-12-25 03:53] elf-pavlik opened #25 "*communities* directory in app root?"
most of its content looks sharetribe.com specific...

i see **community_file** helper used if few places, maybe we can look at moving that stuff to database and incorporate it into tribe admin interface?

[2013-01-05 17:13] gnomet opened #26 "Possibility to export personal data and import that in other instance"
This has been wished. (e.g. https://twitter.com/konradfoerstner/status/287551667904344064)

Not yet scheduled for dev by core team, but if some one is interested to take a look at this, feel free.

We probably would do the personal data export first and then later the possibility to import that on a server. That way it would also make moving data between servers easier.

If someone needs help movi

[2013-03-22 10:31] cmcewen opened #28 "ReferenceError: Typekit is not defined"
Hi guys - I was just browsing around on Sharetribe and I get a pop-up with this warning whenever viewing a tribe. My guess based on this (http://stackoverflow.com/questions/8720335/why-do-i-get-an-uncaught-referenceerror-is-not-defined-anonymous-function) is that Typekit isn't finished loading when you call Typekit.load()

[code]

[2013-03-24 12:59] #28 closed, assigned to gnomet

[2013-05-23 12:19] guaka opened #29 "is sharetribe usable as a platform for hospitality exchange?"
if no, what is needed to get it there?

if yes, are there any examples? if not, let's set up a demo

[2013-11-04 13:35] eltonokada opened #106 "Redirect loop problem"
I start a sharetribe server in my VPS, i configure everything.
On my local machine is working ok, but in production mode i am getting a redirect loop problem at -

[ 2013-11-04 08:31:00.2289 32183/7f4604d94700 Pool2/Implementation.cpp:1274 ]: [App 32487 stdout] Started GET "/people/login" for 179.236.126.251 at 2013-11-04 08:31:00 -0500

[2013-11-04 18:06] #106 closed, assigned to nobody

[2013-12-01 17:18] elf-pavlik opened #164 "schema.org integration"
related: #24 #12 #21

http://schema.org - collaboration among Google, Yahoo, Bing, Yandex with involvement of people working with W3C

It provides vocabulary which search engines mentioned above recognize, so that we can express information about all kind of **things** in common terms. I also improves how pages show in search results supporting **Rich Snippets** for **Structured Data** as explaine

[2013-12-13 06:53] TaoXi opened #189 "what about "Fog provider can't be blank, Fog directory can't be blank"? help me thank you."
When I rake assets:precompile, there is a prompt:"Fog provider can't be blank, Fog directory can't be blank"
I didn't use S3, so how to config to resolve this problem? thank you very much.

[2013-12-13 07:57] TaoXi opened #190 "what about "Fog provider can't be blank, Fog directory can't be blank"? help me thank you."
When I rake assets:precompile, there is a prompt:"Fog provider can't be blank, Fog directory can't be blank"
I didn't use S3, so how to config to resolve this problem? thank you very much.

[2013-12-13 07:59] #190 closed, assigned to nobody

[2014-02-05 05:04] dreamerzfly opened #250 "unable to run rails s after install"
Hi,

I followed the installation instructions however I'm not able to kick off the rails server. and after updating my .rb files to not include config.whiny_nils and calling rails server again the warnings are no longer there but it auto shuts down.

I'm using sqlite 3 with rails 4.0.0 and ruby 2.0.0 on ubuntu 12.04. I'd greatly appreciate any help!

@ubuntu:~/Desktop/sharetribe$ rails server
=> B

[2014-02-14 10:32] #250 closed, assigned to gnomet

[2014-02-21 04:21] dreamerzfly opened #287 "Undefined method 'locale'"
Hello,

In the 'thanks for your interest' page where you select where you come from, after hitting the send button, i'm getting undefined method error

NoMethodError in ContactRequestsController#update

undefined method `locale' for nil:NilClass

Application Trace | Framework Trace | Full Trace
app/mailers/person_mailer.rb:300:in `reply_to_contact_request'
app/controllers/contact_requests_controll

[2014-02-25 02:39] eltonokada opened #292 "Migrations problem"
Hi,

I've just clone the project and i am trying to make it work on my VPS.
When running migrations, i am having some problems:

== AddDefaultGradeToExistingPersonComments: migrating ========================
rake aborted!
An error has occurred, all later migrations canceled:
uninitialized constant AddDefaultGradeToExistingPersonComments::PersonComment
/var/deploy/sharetribe/web_head/releases/20140

[2014-02-25 06:39] #287 closed, assigned to nobody

[2014-02-26 22:53] #292 closed, assigned to nobody

[2014-03-17 23:14] jidylle opened #329 "character ' * ' for required custom field is not showing on listing form"
In custom field creation form When I select the required option and save, i can't see in listing form
the character ' \* ' for the required custom field that i just created.

[2014-03-18 07:12] #329 closed, assigned to nobody

[2014-04-18 21:36] eltonokada opened #374 "Domain"
I checkout the code, installed in a server, following the installation instructions. Had some issues, but are already solved.
My question is: is it possible to configure a sharetribe without a registered domain? only with the IP, we don't have a domain, just want to test.
Thanks

[2014-04-23 05:51] #374 closed, assigned to gnomet

[2014-04-23 05:52] #189 closed, assigned to gnomet

[2014-04-23 05:54] #6 closed, assigned to nobody

[2014-04-23 05:55] #16 closed, assigned to nobody

[2014-04-23 06:01] #18 closed, assigned to nobody

[2014-04-23 06:02] #19 closed, assigned to gnomet

[2014-04-23 06:08] #22 closed, assigned to gnomet

[2014-04-23 13:29] eltonokada opened #377 "Community css"
Hi,

I installed a sharetribe on a VPS, when i change the look and feel the community, i'm getting an error, probably because of the css.

How can i avoid this? Is it possible to generate css automatically?
Or i have to run the rake task when something is changed?

thanks

[2014-04-24 19:58] dgaultiere opened #380 "Retina Images for Logo"
Display 2x resolution images to users on Retina or high-DPI screens. Preferably for all images but especially for marketplace logo.

They look blurry on Retina screens otherwise:
![screen shot 2014-04-24 at 12 58 12 pm](https://cloud.githubusercontent.com/assets/5988309/2794259/c947d898-cbea-11e3-8cbc-b0c9b4496d59.png)

[2014-04-25 12:20] eltonokada opened #385 "Problems with redirect"
Hey, i am having some problems with internal redirect.

I have a sharetribe on my VPS, is already working at
subdomain.domain.com

But i try to do a redirect on Nginx
where this should happens:

domain.com should redirect(internally) to

subdomain.domain.com

The redirect works, but having problems with routes.

As you offer the sharetribe hosted solution, i think you know how to solve this.

As i

[2014-04-25 12:32] #385 closed, assigned to nobody

[2014-04-25 20:15] klemensschindler opened #388 "Installation instructions missing dependency (Ubuntu 14.04)"
On Ubuntu 14.04 I ran

[code]

and got the following error:

[code]

The issue was fixed by running:

[code]

Adding this to the installation instructions would add to a "smoother" installation experience.

Source of solution:
http://stackoverflow.com/questions/13767725/unable-to-install-gem-failed-to-build-gem-native-extension-cannot-load-such

[2014-04-25 21:08] klemensschindler opened #389 "Installing ruby on Ubuntu 14.04"
There are several hurdles when installing on Ubuntu 14.04 with the given instructions for Ubuntu 12.10 on the site.

The following site gives an overview how to install ruby 2.1.1 with rails on Ubuntu 14.04:
https://gorails.com/setup/ubuntu/14.04

Incorporating this link in the installation instructions could help other users installing ruby and rails.

[2014-04-29 17:31] dgaultiere opened #391 "Google Universal Analytics"
Need support for Google's new Universal Analytics. Google has phased out the old Classic Analytics and there is not ability to create an Classic Analytics property anymore.

[2014-05-05 13:50] #389 closed, assigned to nobody

[2014-05-17 11:28] klemensschindler opened #411 "assets:precompile fails when executing installation instructions"
When running ''rake assets::precompile", the following error occurs:

[code]

The installation was done on a freshly installed Ubuntu 12.04 system.

[2014-05-19 06:54] #411 closed, assigned to nobody

[2014-05-19 11:16] #380 closed, assigned to nobody

[2014-05-24 16:10] klemensschindler opened #426 "Reopening issue #411"
New issue created because I don't have rights to reopen it:

The proposed solution for #411 to pull in the newest version does change the error slightly, but in the end the same error still occurs.

The full error message is:

[code]

It differs from the previous error only on the AssetSync:... lines, the rest of the error is the same.

[2014-05-31 08:21] #2 closed, assigned to nobody

[2014-05-31 08:21] #4 closed, assigned to elf-pavlik

[2014-05-31 08:22] #12 closed, assigned to nobody

[2014-05-31 08:23] #13 closed, assigned to nobody

[2014-05-31 08:37] #17 closed, assigned to elf-pavlik

[2014-05-31 08:38] #21 closed, assigned to nobody

[2014-05-31 08:39] #23 closed, assigned to nobody

[2014-05-31 08:40] #24 closed, assigned to nobody

[2014-05-31 08:42] #25 closed, assigned to gnomet

[2014-05-31 08:44] #29 closed, assigned to elf-pavlik

[2014-05-31 08:45] #377 closed, assigned to gnomet

[2014-05-31 15:02] #426 closed, assigned to nobody

[2014-05-31 17:46] klemensschindler opened #435 "Changing cover image on marketplace (production environment) crashes site"
After the following actions
- Create a marketplace
- Change cover image
  the "Page loading failed!" page showed up.

Any other actions (even after restarting the worker process and rails server) resulted in below error message:

[code]

It seems that something is not precompiled, but after a

[code]

and restarting the worker process and rails server, still only the "Page loading failed!" page (w

[2014-06-06 11:42] #435 closed, assigned to nobody

[2014-06-11 08:03] kjakub opened #448 "Capistrano support?"
Did anybody deploy this application with capistrano?

[2014-06-11 17:31] rap1ds opened #451 "Listings that are moved to the top are presented as new listings in weekly mail"
**Background**

Marketplace admins are able to promote older listings by moving them to the top of the homepage. This is done by touching the `created_at` timestamp. Due to this hackish solution, the promoted listings are also on the weekly mail and they are presented as a new listings, even though they are not new.

**Steps to reproduce**
1. Deliver community updates newsletter
2. Log in as a mar

[2014-06-11 17:41] rap1ds opened #452 "Display reviews in listing page"
If marketplace has testimonials enabled, we should show them on the listing page. Currently, we are showing them on the profile page only.

The text should be e.g. "Reviews: 80% positive (4/5)"

**Screenshots**

![screen shot 2014-06-11 at 20 26 06](https://cloud.githubusercontent.com/assets/429876/3248444/8eef185e-f18e-11e3-8c09-229bf6cc900d.png)

![screen shot 2014-06-11 at 20 30 02](https://clo

[2014-06-11 17:44] rap1ds opened #453 "Map is not rendered (broken) if there are search results but none of the search hits has location"
**Steps to reproduce**

Precondition: Add a listing with title "Bike", do not add any location to the listing.
1. Go to homepage, select Map view
2. Search for "Bike"

**Excepted result**

Error text, e.g. "We couldn't find any results that matched your search criteria"

**Actual result**

Empty, broken map. See the screenshot

**Screenshot**

![screen_shot_2014-04-14_at_11 23 01_am](https://cloud

[2014-06-11 17:44] rap1ds opened #454 "When unlogged user tries to buy, he's prompted to log in and then thrown to front page. Should direct him back to where he was!"
This is very bad for the userflow. He has to search the listing again.

[2014-06-11 17:44] rap1ds opened #455 "Emails are collapsed on Gmail"
Gmail collapses emails from Sharetribe. Really difficult to read the email thread and spot the email content.

**Screenshot**

![photo 1](https://cloud.githubusercontent.com/assets/429876/3248584/f2afbfb4-f18f-11e3-8c32-349e19d5c2ee.JPG)

[2014-06-11 17:45] rap1ds opened #456 "Comparison of email and allowed_emails should be case insensitive also when confirming"
now it checks case insensitively on the form but case sensitively when confirming and leaves the user to infite "confirmation pending" loop.

[2014-06-11 17:56] rap1ds opened #457 "When category selected on homepage, show only relevant filters"
Custom fields (and filters) are linked to a categories in which they belong. At the moment all filters are shown on the homepage. However, only relevant filters should be shown when category is selected.

**Screenshot**

![screen shot 2014-06-11 at 20 51 53](https://cloud.githubusercontent.com/assets/429876/3248698/41e0bfa6-f191-11e3-88d4-7a1a98bb8429.png)

[2014-06-17 09:19] kjakub opened #462 "application cannot be started in production environment - missing mangopay config"
in config/initilazers/mangopay_initilizer.rb

provide the keys in config.example.yml

[2014-06-18 05:56] #462 closed, assigned to rap1ds

[2014-06-18 09:33] kjakub opened #463 "missing map and picture placeholders when creating new listing"
in production environment, when creating new listing i don't see map and picture placeholders, however i see JS: Uncaught TypeError: Object [object Object] has no method 'live' - somebody experienced that? something wrong with assets i quess, using rubyracer to precompile instead of nodejs fyi

i think it was coming from kassi.js (there are .live methods)

update Gemfile for jquery-rails gem to us

[2014-06-21 23:14] gil27 opened #465 "rake db:migrate throws a lot of errors"
Have you guys checked the migrations? I runned rake db:migrate after clonning the project and I came across a lot of errors, some of those were about missing classes. One solution, maybe not the best is to bring the actual schema into a single migration file.

[2014-06-23 06:59] #465 closed, assigned to nobody

[2014-06-23 07:04] #463 closed, assigned to nobody

[2014-06-30 10:33] yonahforst opened #474 "User registration with separate login_domain"
If the login_domain is set (let's say to 'login'), users cannot register to a particular community.

It seems that :fetch_community is halting PeopleController#Create after trying to find a community with a domain of 'login' instead of the actual community domain.

[2014-07-04 09:08] #474 closed, assigned to gnomet

[2014-07-07 08:52] kjakub opened #479 "uninitialized constant CountrySelect::COUNTRIES when setting up new marketplace"
when setting up new market place

in  `/app/views/person_mailer/contact_request_notification.html.haml where line #6 raised:`

`uninitialized constant CountrySelect::COUNTRIES`

[2014-07-21 11:12] #479 closed, assigned to nobody

[2014-07-30 23:06] jonathanpopham opened #510 "Can't use rails or rake. even bundle exec rails console breaks"
I have been trying to deploy sharetribe for literally weeks and it is getting ridiculous. Heroku doesn't have what we are looking for, so I started my foolish errand with Capistrano. After dealing with all these weird openssl errors, Capistrano problems, and rvm problems, I've tried a fresh run with mina and rbenv. After getting the kinks worked out, I still had problems.

I am coming to my wits e

[2014-07-31 07:46] #510 closed, assigned to nobody

[2014-08-10 01:46] sixpen opened #518 "Community Error After Install"
Hello,
I recently installed sharetribe and had a difficulty setting up a community. I followed the instructions; however, when I go to community subdomain, it doesnt go to community dashboard 'homepage#index'. It seems like the constrains on the routes are not triggering?

I created a community called demo. So, when I open demo.domain.com nothing comes up.

I also tried looking into rails console

[2014-09-06 17:06] brgnepal opened #570 "Error: Don't know how to build task 'thinking_sphinx:index'"
Hi,

First of all thanks for the nice open source project for building marketplace.
I am looking for such quite from a time and found this project and looks great.

I am trying to install it. Surprisingly, bundle install and all steps given in <b>README.md</b> worked fine till this point

<pre>
  - rake RAILS_ENV=production thinking_sphinx:index
</pre>

I am referring <a href='https://github.com/s

[2014-09-08 06:43] #570 closed, assigned to nobody

[2014-09-17 11:27] brgnepal opened #590 "Error "found unpermitted parameters: wide_logo""
Hi,

I have setup `Sharetribe` locally and after completing all customization <a href='https://github.com/sharetribe/sharetribe/blob/master/docs/customize-marketplace.md' target='_blank'>listed here</a> when I am trying to update the **Desktop logo** in `Admin -> Community Look and Feel` with proper Desktop logo size(336x80px), I am getting error as:

[code]

Stacktrace error:

[code]

Request Par

[2014-09-17 14:23] #590 closed, assigned to gnomet

[2014-09-18 06:22] brgnepal opened #592 "Failing two rspec tests"
Hi,

I pulled the latest master branch (commit **Fix the list of permitted params to allow logo change** and id **cf96789c779f7dad223f0e5574b338ec9c496b03**) code the ran its specs.

I performed following before `bundle exec rspec spec`:

[code]

**Got following errors:**

[code]

<a href='https://gist.github.com/budhrg/5fb5cf6046e853f04cb2' target='_blank'>Click here to see full testing process a

[2014-09-20 11:47] brgnepal opened #598 "Unable to access community in main domain instead of subdomain"
Hi,

I have been trying to access community `abc` which I access now as `abc.foo.com` through `foo.com` but unable to configure it properly through `nginx`.

I referred this <a href='https://github.com/sharetribe/sharetribe/issues/385' target='_blank'>similar issue</a> and changed the `domain` of my community table from `abc` to `foo.com` but still unable to access the community.

Am I missing any

[2014-09-23 07:00] #598 closed, assigned to nobody

[2014-10-03 14:58] brgnepal opened #628 "Unable to Sign Up at production locally (Net::SMTPAuthenticationError)"
Hi,

I am unable to sign up at production environment locally.
Getting following error:

[code]

Please check server logs <a href='https://gist.github.com/budhrg/795b34f0175de6757757' target='_blank'>here</a>

It is working fine at `development` environment.

Anything I am doing wrong?

Thanks.

[2014-10-04 07:17] brgnepal opened #630 "Getting error 'Processing ... (this may take a while)' during image upload"
Hi,

I am getting error as 'Processing ... (this may take a while)'.
Following are the logs of `delayed job worker` and `server`:

Server error: https://gist.github.com/budhrg/0b09983f0d288add6924
Delayed job error: https://gist.github.com/budhrg/31bdef74735d2d73f266

Any idea why it is happening? I am fed up with this error.
It is happening regularly.  Any help?

[2014-10-05 00:33] jshin47 opened #631 "Cannot get any page to be rendered other than error page on CentOS 7 - redirects and errors galore"
I followed the instructions closely - the gems are all installed, there are no dependency issues, and I ran the console to add a community or whatever - but whenever I try to hit the base domain name, I am immediately redirected to "www." that domain name (which is not my community's by the way, so I have no idea where that is coming from). Then when I check the error logs, I see

Started GET "/"

[2014-10-06 06:35] #628 closed, assigned to nobody

[2014-10-06 06:42] #455 closed, assigned to nobody

[2014-10-06 08:57] #630 closed, assigned to nobody

[2014-10-11 11:41] brgnepal opened #665 "Unable to use S3"
Hi Folks,

I am trying to use Amazon S3 but I am unable to upload listing image.
The upload stuck in 0% and there are no error logs at both worker and server sides.

I added following fields in `config.yml`:

[code]

Any other customization required to make S3 work?
What might be the problem?
Also, is it related to S3 security groups?

[2014-10-11 15:16] #665 closed, assigned to nobody

[2014-10-15 23:10] whatsdis opened #684 "structure.sql not found"
[code]

I was running this ansible script and it stops there. structure.sql is indeed not found.

https://github.com/nicolasblanco/ansible-sharetribe

[2014-10-16 05:35] #684 closed, assigned to nobody

[2014-10-22 09:20] macktheknife80 opened #709 "Problem with bundle install"
Bundle install works fine until it arrives at mysql then the message below. I have installed mysql through homebrew. I have tried removing mysql and installing again, but still same issue. I have tried to look for solutions online, but nothing that worked or helped. I am really at a loss here. What can I do to fix this?

Installing mysql2 (0.3.14) with native extensions
Gem::Installer::ExtensionBu

[2014-10-22 12:01] #451 closed, assigned to nobody

[2014-10-22 12:02] #592 closed, assigned to gnomet

[2014-10-22 12:03] #518 closed, assigned to nobody

[2014-10-22 12:03] #631 closed, assigned to gnomet

[2014-10-22 12:07] #709 closed, assigned to nobody

[2014-10-29 09:23] #388 closed, assigned to nobody

[2014-11-08 16:46] biddercount opened #760 ""Page Loading Failed!" Error when running production site on local server"
Am trying to install sharetribe locally with OSX 10.9.5, Ruby set to 2.1.2 with RVM, using MySQL and all other specified software following the readme file instructions, and am encountering errors when trying to create and run a marketplace locally.

Trying to run the server locally in production mode, after starting the server and running the README commands to create a new marketplace, I get the

[2014-11-14 20:58] Kanann opened #784 "Page loading failed when accessing the XXX.lvh.me:3000 page"
Hi, I followed several times the guideline for installing sharetribe on both debian and ubuntu.
Everything seems working but when I request the page XXX.lvh.me:3000, I fall on a page telling me "Page loading failed!" where I am invited to submit the error description.

I tried what is told here : https://github.com/sharetribe/sharetribe/issues/631.
But it is still not working, what could be the pr

[2014-11-15 10:11] #784 closed, assigned to nobody

[2014-11-17 12:31] sahidursuman opened #795 "Community Subdomain didn't works on production server."
Hello,
I installed sharetribe application following the sharetribe github page instructions. I installed it in a Digital ocean droplet including Ubuntu 14.04 + nginx + passenger + rvm. The main site is working perfectly on production server, but community site is didn't work. I didn't get any error message from production.log file.

Can you please give me any suggestion, How can i overcome this pr

[2014-11-18 09:37] codecakes opened #804 "Table 'sharetribe_development.communities' doesn't exist"
Platform Ubuntu 12.10 x64;

I followed the instructions but ran into this error:

ActiveRecord::StatementInvalid in HomepageController#index

Mysql2::Error: Table 'sharetribe_development.communities' doesn't exist: SHOW FULL FIELDS FROM `communities`

App trace on site:

app/models/community.rb:478:in `find_by_domain'
app/controllers/application_controller.rb:147:in`block in fetch_community'
app/c

[2014-11-19 17:22] mirceaanghel opened #812 "Dropbox style filter not working."
While creating a Dropbox filter you still get a Chackbox Group on the Homepage.

[2014-11-19 18:11] #812 closed, assigned to nobody

[2014-11-20 03:33] farukaydin opened #816 "using letter_opener gem"
For development environment, we can use letter_opener gem. From letter_opener readme:

I'd like to work on it btw

[2014-11-20 13:28] #816 closed, assigned to nobody

[2014-11-22 01:56] brgnepal opened #821 "Able to see closed listing in filter and search result"
Hi Folks,

Thanks for the wonderful project. I have setup it successfully and make it live.
However, my search result show the `closed listings`.
Clicking on that pops error `This content is not available in the community`.

Also, filtering by listing type show `closed listings` too.
Am I missing anything?
Any help would be greatly appreciated.

[2014-11-23 23:55] dhat opened #823 "Community listing of member people contact link broken"
Using version 4.5.5.  This is a very nice program.  We like to have a link to domain/people but the contact links on this page are broken.  Existing people index shows link for contacting each person, but all contact links return an error.  Recommended fix in file app/views/people/_person.haml:
    %small
      %a{href: new_person_message_path(person, :message_type => "free", :profile_message => t

[2014-11-29 20:26] klemensschindler opened #838 "Last activity indicator (messages inbox) shows incorrect time"
Just after creating a new message, the inbox overview shows that the last activity was 1 hour ago.

When opening the message thread, the message creation time does display correctly.

[2014-12-03 09:39] #838 closed, assigned to nobody

[2014-12-03 09:43] #823 closed, assigned to nobody

[2014-12-03 09:43] #14 closed, assigned to nobody

[2014-12-03 09:44] #26 closed, assigned to nobody

[2014-12-03 09:44] #164 closed, assigned to nobody

[2014-12-03 09:44] #452 closed, assigned to nobody

[2014-12-03 09:45] #454 closed, assigned to nobody

[2014-12-03 09:45] #453 closed, assigned to nobody

[2014-12-03 09:45] #456 closed, assigned to nobody

[2014-12-03 09:46] #760 closed, assigned to nobody

[2014-12-03 09:59] #804 closed, assigned to nobody

[2014-12-03 10:05] #821 closed, assigned to nobody

[2014-12-03 10:06] #457 closed, assigned to nobody

[2014-12-06 16:26] gonxi opened #859 "how to set payment methods?"
i want use this plataform but i dont know how to set payments. I would like to use paypal... anyone can explain me how to do? i'm new in ruby. thanks everyone

[2014-12-10 14:06] harshad26 opened #869 "How to ingrate Google acccount for login and signup"
I need to integrate Google account for Signin and SignUp. Let me know if any easy way so its succor to me.

Thanks a lot

[2014-12-16 04:04] juanpastas opened #870 "Google Maps not loading in localhost"
Hi,

I am getting this in localhost:

![image](https://cloud.githubusercontent.com/assets/671721/5448441/2000b778-84ae-11e4-99d0-3885448e8329.png)

I am not sure if this is also causing that I can't login in local installation. Since I can't login I can see admin nor create listing from web interface.

In a remote installation map is working [fine](http://softwater.club/en?view=map).

Any advice o

[2014-12-16 08:25] #859 closed, assigned to nobody

[2014-12-19 11:10] usmanarif opened #876 "Payment not working for Sharetribe using braintree"
I am using default Braintree payment gateway in my sharetribe application but getting the following error message
        The listing author has not added their payment details so they cannot receive payments right now. Please contact the author.

I am providing following credentials for payment from Admin side:
    Environment: Sandbox
    Public Key: jszqqxxxxxxxb83gp
    Private Key: 161b1xxxxx

[2014-12-24 11:33] harshad26 opened #884 "Error while migration"
While i tried to migration at that time i faced below error. I tried more than 1 time but still facing.

undefined method `find_by_username' for #<Class:0x007f4e037219d0>/home/ubuntu/sharetribe/app/models/person.rb:122:in`find'
/home/ubuntu/sharetribe/db/migrate/20090330072036_add_settings_to_existing_people.rb:3:in `up'

Please check it

[2014-12-25 09:01] #884 closed, assigned to nobody

[2014-12-25 09:23] harshad26 opened #885 "Can i use sharetribe application with amazon public DNS"
Hi,

I set up sharetribe in local and its work fine in local

But  i uploaded on amazon ec2 instance and try to setup. Everything setup but when i tried to run at that time i face problem
I know that using ip it does not work so i use public DNS of amazon ec2 instance.

suppose my public DNS of amazon instance is: ec2-11-111-11-111.compute-1.amazonaws.com

then how to set this in run in browser. I

[2014-12-26 14:52] AmirrezaAsadi opened #886 "Arabic Charachter ???"
Hello
I tried to use Arabic Charachters in sharetribe.com
but when I save . the data shows ??????.

[2014-12-30 13:20] #876 closed, assigned to nobody

[2014-12-30 13:22] usmanarif opened #889 "Integrating Stripe payment with Sharetribe"
Is the integration of Stripe payment Gateway is possible in existing Sharetribe open source application?

[2014-12-31 04:31] harshad26 opened #891 "Where to manage user posts from admin panel?"
I found in admin panel but not get where to manage user post from admin panel?

If some user post spam product or others then admin wants to remove it from admin or other action on that posts then how to manage it?

Let me know. I have to do it.

Thanks

[2014-12-31 12:00] #795 closed, assigned to nobody

[2014-12-31 12:01] #869 closed, assigned to nobody

[2014-12-31 12:15] #886 closed, assigned to nobody

[2014-12-31 12:16] #889 closed, assigned to nobody

[2014-12-31 12:17] #891 closed, assigned to nobody

[2015-01-02 05:03] harshad26 commented on #885
I solved it

Thanks

[2015-01-02 05:03] #885 closed

[2015-01-02 17:30] hvent90 opened #893 "Images seem to be processing but the worker isn't updating the database with the newly processed images"
The delayed job worker is repeatedly saying that jobs are being completed with 0 errors.

/log/production.log are showing lines such as:
Command :: convert '/tmp/10525990_10152757277949130_952053413298731933_n20150102-24420-10a36zr20150102-24420-1m1gexr20150102-24420-r37kib[0]' -auto-orient -resize "240x" -crop "240x160+0+10" +repage '/tmp/10525990_10152757277949130_952053413298731933_n20150102-24

[2015-01-02 17:50] hvent90 opened #894 "braintree_accounts.status not changing from 'pending'"
Hello! This software rocks.

Accounts are staying as 'pending' upon entering in payment info. I've waited a couple days to see if the status changes...it doesn't change.

What file could I check for a clue?

Cheers

[2015-01-02 19:48] hvent90 commented on #893
This is in /log/production.log
Connecting to database specified by database.yml
Creating scope :public. Overwriting existing method Listing.public.
Creating scope :private. Overwriting existing method Listing.private.

that seems to suggest it worked

[2015-01-04 11:24] harshad26 opened #896 "Error while sharetribe setup on production"
Hi,

I installed it in a Digital ocean droplet including Ubuntu 14.04 + nginx + passenger + rvm.
My domain name is www.abc.trade
when i run then display page of email box where i put my email then ask me "where do you come from" and "what kind of marketplace do you need?"
I filled above and click on "send" then display error below
-------------------------------------------------------------------

[2015-01-09 05:29] harshad26 commented on #896
I solved it. Use subdomain then its soved.

Thanks

[2015-01-09 05:29] #896 closed

[2015-01-09 06:24] harshad26 commented on #598
Subdomain is compulsory for sharetribe?

If i have domain name "xyz.trade" then how to run sharetribe site on it? Subdomain must be there?

Its work on subdomain (abc.xyz.trade) but not on main domain(xyz.trade). I want to run on main domain.

[2015-01-09 07:43] ovan commented on #894
Hi, can you see in your logs if the braintree webhook has triggered? Have you added your sharetribe braintree webhook URL at braintree?

[2015-01-10 15:31] 18augst opened #903 "Find person by username doesn't allow to apply migrations"
Hello! I've tried to install app from scratch. But I've got following error during `rake db:migrate`:

    NoMethodError: undefined method `find_by_username' for #<Class:0x00000004669dc0>
    /home/augst/.rvm/gems/ruby-2.1.2@sharetribe/gems/activerecord-3.2.19/lib/active_record/dynamic_matchers.rb:27:in `method_missing'
    /home/augst/work/rails/sharetribe/app/models/person.rb:123:in `find'
    /

[2015-01-12 06:33] ovan commented on #903
@18augst You don't run migrations when installing from scratch. Just do `rake db:schema:load` instead. Migrations are for incrementally maintaining the database structure as schema evolves.

[2015-01-12 06:33] #903 closed

[2015-01-12 06:34] #894 closed

[2015-01-12 06:34] #870 closed

[2015-01-12 06:35] #391 closed

[2015-01-12 14:14] usmanarif opened #905 "Setting up Braintree Payment Gateway(sandbox) in Production Environment"
I am setting up the Braintree Payment Gateway in my app in production environment. After doing the same and on purchasing listing I am redirected to

    http://b2*************.com/en/listings/10/preauthorized?person_id=aX9*****************hDg

with the message

    Page loading failed! Reloading/redirecting...........in the box below.

Though I have provided the Braintree Credentials i.e keys fro

[2015-01-12 16:03] 18augst commented on #903
@ovan Thank you very much! I did not know this before.

[2015-01-12 18:56] hvent90 commented on #894
Hi Ovan, what log file should I check? Also, please reopen this issue. Apologies for not replying sooner.

[2015-01-13 06:43] bingxie commented on #905
+1
we need a specific document for setting up the Braintree Payment Gateway.

[2015-01-13 14:14] ovan commented on #894
@hvent90  This would be your server output. How that happens exactly depends where and how you host the server. You need to have the application running all the time to receive post from braintree. This is the way braintree sends you information about submerchant accounts being approved. From log files you can see if this post has happened.

Unfortunately at the moment we have very limited resourc

[2015-01-13 15:47] hvent90 commented on #894
Resolved: The issue was my unfamiliarity with needing to create a webhook with Braintree. Might want to throw that in your installation instructions for those who are aren't aware of those unmentioned steps.

[2015-01-13 16:02] heydiplo opened #909 "rails 4"
Hi! Do you have plans to upgrade to Rails 4? Maybe there is some work in progress I can help with?

[2015-01-14 06:07] bingxie commented on #909
I would like to help too.

[2015-01-14 06:30] bingxie opened #911 "Always failed rspec test"
I always have a failed rspec test on my local machine, I run the test with:
rake test:prepare
rspec spec

The failed test is:

Failures:

  1) BraintreeService::EscrowReleaseHelper#release_from_escrow when escrow status changed from "hold_pending" to "held" releases from escrow later
     Failure/Error: successes.should == 1
       expected: 1
            got: 0 (using ==)
     # ./spec/services/b

[2015-01-14 13:11] ovan commented on #909
Hi. At the moment we don't have any plans to upgrade. That being said, I'd be happy to hear your thoughts about if this would be important and why? What would we gain by doing it beyond the joy of using the latest and greatest? What does this mean in terms of code changes?

[2015-01-15 08:21] sktoiva commented on #905
At the moment, we have other pressing issues on our  backlog so writing documentation to Braintree isn't high on the list. That being said, one thing to check is that have you configured the Webhook URI to Braintree?
After you have configured the payment gateway through admin UI, you need to navigate to Braintree Payments, log in and create a new webhook and provide the generated URI there. We don

[2015-01-15 12:47] heydiplo commented on #909
For me it's primarily about support.

We're about to start a new project and consider going with Sharetribe. However, Rails 3.2 are only getting severe security updates by now and will be dropped as soon as Rails 5 is released. And it's going to be sad to be left with the outdated software shortly after the start.

There are also a lot of awesome new features in the current version. Release notes

[2015-01-15 13:23] xiaominger opened #916 "Error connecting to Sphinx via the MySQL protocol."
I'm using coreseek4.2，but there are some issues:“ connecting to Sphinx via the MySQL protocol. Error connecting to Sphinx via the MySQL protocol. Can't connect to MySQL server on '127.0.0.1' (111) - SELECT * FROM `listing_core`, `listing_delta` WHERE MATCH('*股票*') AND `community_ids` = 1 AND `sphinx_deleted` = 0 ORDER BY `sort_date` DESC LIMIT 0, 24; SHOW META”

[2015-01-15 13:41] #905 closed

[2015-01-15 14:37] ovan commented on #916
Hi @xiaominger. Unfortunately we don't have resources to provide environment specific installation support here, especially since you are using a component we don't use ourselves (coreseek). You can try the community chat linked in README for help.

[2015-01-15 14:37] #916 closed

[2015-01-15 14:39] ovan commented on #909
Thanks for your input. I can understand your reasoning here. We need to have a look at the material you linked and see what this would mean in practice for us.

[2015-01-16 01:37] bingxie commented on #909
Here is another good article about upgrade:
http://technology.customink.com/blog/2014/09/16/from-rails-3.2-to-4.2/

I have used these good new features:
* Action Pack Variants
* Spring
* Postgresql Hstore data type
* Cache Digests

[2015-01-18 08:42] harshad26 opened #919 "Issue in domain name"
I run sharetribe on production server.

Domain name is:  http://xyz.trade  (Not sub-domain. Its a main domain. Site run on main domain)

Now when i type www.xyz.trade then its redirect to www.www.xyz.trade

Why this problem occurs? How to solve it?

I want to run site on http://xyz.trade  and http://www.xyz.trade  then how to config server or sharetrabe configuration file.

[2015-01-20 03:33] camerojo opened #921 "Missing step for newbies in README.MD Installation"
I am a new user, starting from scratch using the Sharetribe installation instructions.

There is a missing step if someone is starting from scratch:

rake db:create needs to be run before rake db:schema:load will work

[2015-01-20 03:39] camerojo opened #922 "Errors running rake ts:index in installation"
I get the following errors following the installation steps when running rake ts:index

Are these errors serious:

John-Camerons-IMac:sharetribe john$ rake ts:index
Digest::Digest is deprecated; use Digest

AssetSync enabled: false

Using the following AssetSync configuration:
aws_access_key_id:     Not available
aws_secret_access_key: Not available
fog_directory:         Not available
fog_provide

[2015-01-21 02:13] camerojo commented on #922
Fixed by reinstalling Sphinx:

brew install sphinx --mysql

Then ran rake ts:index again.

May have been because of upgrade to MySQL version

[2015-01-21 02:13] #922 closed

[2015-01-21 06:53] bingxie commented on #911
I also found actually there are two jobs in the table:

pry(#<RSpec::Core::ExampleGroup::Nested_2::Nested_1::Nested_2>)> Delayed::Backend::ActiveRecord::Job.all
=> [#<Delayed::Backend::ActiveRecord::Job id: 4, priority: 6, attempts: 0, handler: "--- !ruby/object:Delayed::PerformableMethod\nobject:...", last_error: nil, run_at: "2014-03-13 01:00:00", locked_at: nil, failed_at: nil, locked_by: nil,

[2015-01-21 08:07] rap1ds commented on #921
Hi! Good point, would you like to PR?

[2015-01-21 08:07] #921 closed

[2015-01-21 11:29] camerojo commented on #921
Sorry - I am a real newbie. What does PR mean? If it means updating the doc, it would be better if someone else did it. I don't think I will be using Sharetribe now so will not be contributing further. Good luck with this project.

[2015-01-22 02:38] bingxie commented on #911
Thank you @heydiplo for fixing this issue.

[2015-01-22 11:53] younes0 commented on #13
I quickly tried to support pgsql, found those issues:
- in schema definition, a lot of index have the same name but for different tables, it's fine for mysql, but not postgresql where index names are specific to one table.
- there's lot of queries that fail because of the conversion CHARACTER VARYING = 1

[2015-01-23 07:14] #911 closed

[2015-01-23 07:16] rap1ds commented on #911
Thanks @bingxie for reporting and thanks @heydiplo for fixing!

[2015-01-23 21:16] younes0 opened #942 "delayed_paperclip.rb:52:in `process_in_background': undefined method `[]=' for nil:NilClass (NoMethodError)"
When trying to run server, I get :
[code]
Sorry if this question might be not related to sharetribe as I'm a newbie to ruby.

[2015-01-24 08:58] younes0 commented on #942
Commented all process_in_background in community then the setup was possible.

[2015-01-24 09:41] younes0 opened #943 "s3 url suffix"
s3 upload works fine but I get this suffix in links:
`https://mybucket.s3.amazonaws.com/images/listing_images/images/7/big/garden.jpg%3F1422089097`

[2015-01-25 12:56] Kanann opened #944 "docker issue: Error starting userland proxy ..."
Hi, I am following the guideline to launch sharetribe with docker.
I have installed mysql, docker and fig, but I have an issue when putting this command :
<i>sudo fig run web /bin/bash -l -c 'bundle exec rake db:schema:load'</i>

Here is the response :
<i>Starting dockersharetribe_dbtest_1...
Starting dockersharetribe_db_1...
Cannot start container c591c5b2c938e2fb37b2061db7376abd3c8c5f6a79410e5fb

[2015-01-25 15:43] harshad26 opened #945 "Process does not run in background"
I setup project on production environment on server.

Now i tried to RUN jobs work in background using below command:

When i RUN in background then start process but not in background. When i closed terminal then process not worked.

What is solution? any one?

[2015-01-26 16:31] mrzor commented on #945
You may use the `disown` shell builtin to allow the process to continue after you close to the terminal.
Otherwise, if you're running `zsh`, you can disown from the start by using `&!` instead of `&`.

[2015-01-27 05:21] harshad26 commented on #945
Hi @mrzor

Thanks for reply.

i Used nohup command to RUN proecss in BG after close terminal.

nohup rake RAILS_ENV=production jobs:work

Many Thanks

[2015-01-27 05:21] #945 closed

[2015-01-27 07:25] rap1ds commented on #919
Hi!

I guess that not possible with the current implementation.

Just out of curiosity, why do you want to run the site both on naked domain (http://xyz.trade) and on www domain (http://www.xyz.trade)?

A common practice is to pick one as a main domain and then do redirect from the other (e.g. http://xyz.trade redirects to http://www.xyz.trade). To my understanding that also good for search engine

[2015-01-27 07:25] #919 closed

[2015-01-27 07:28] rap1ds commented on #942
Hi! Have you run `bundle install` to install all the gem dependencies?

Besides from that, it's very hard to give any additional advices, so I'm going to close this ticket. Please comment and add more information if you find out something useful.

[2015-01-27 07:28] #942 closed

[2015-01-27 07:29] rap1ds commented on #943
Can you explain what is the issue here?

[2015-01-27 07:35] rap1ds commented on #944
Hi!

Nice to hear you are trying out the Docker installation! It's still very experimental and we are not using it yet on production, only testing it on local dev environments.

Indeed, there seems to be a conflict. The problem is you local MySQL server, which conflicts with the MySQL container. If you use Fig and Docker, you don't need a local MySQL server. Instead, you should actually stop your

[2015-01-27 07:40] younes0 commented on #943
If you look at the url, `%3F1422089097` is added at the end of the link which brokes it.
All uploaded assets to S3 are served with a similar suffix.

[2015-01-27 07:41] younes0 commented on #942
Thanks @rap1ds , I'll keep this thread updated then if I solve my problem.

[2015-01-27 09:17] Kanann commented on #944
Thank you. Ok I didn't get that Fig was downloading a MySQL Docker image and running a MySQL container, so that I don't need a local MySQL server.
You're right, I will try a fresh installation and tell you if it's ok.
Thanks !

[2015-01-27 11:42] rap1ds commented on #944
You welcome! Let me know if you experience other issues. We are still trying how Docker would fit to our stack so it's nice to hear some user feedback!

[2015-01-27 11:43] #944 closed

[2015-01-30 11:51] rap1ds commented on #943
Right, indeed that is a bit broken.

Instead of `%3F` there should be question mark `?`, i.e. https://mybucket.s3.amazonaws.com/images/listing_images/images/7/big/garden.jpg?1422089097

Where do you see this link? In listing page? Do you have any additional info how could I reproduce the issue. In my local environment and in sharetribe.com production environment, the question mark is there as it s

[2015-01-30 11:53] rap1ds commented on #893
Did you manage to fix the issue or do you still have it? Are you using S3 or saving the images locally?

[2015-01-30 12:12] younes0 commented on #943
It happens in all pages: it concerns all S3 assets links.
That didn't happen in my local environnment which is the same env for my staging where error is produced (ubuntu, utf8 databases, same ruby installation).

[2015-01-31 12:10] chrigui commented on #889
you do not need marketplaces from stripe to use Stripe for Multi vendor platform you can use Stripe Connect, in fact it makes more sense to use Stripe connect over marketplaces because the site admin is not responsible for charge backs.
https://stripe.com/blog/stripe-connect
https://stripe.com/docs/connect#payments-flow

hope this helps.

[2015-01-31 22:03] damian205 commented on #189
I have the exact same problem. When i leave the asset_sync in gemfile, I cannot precompile the project because the error comes out: "asset_sync enabled : false" and it complains that I do not have amazon and fog keys.
then following gnomet's suggestion i removed this line from gemfile, "bundle install, tried to precompile and it did precompile. But then when I start my server in production mode th

[2015-02-01 07:22] usmanarif opened #956 "Getting error page while opening Messages"
I am getting "ArgumentError: argument out of range" error for

    utc_str_to_time(str)
present in app/utils/time_utils.rb file

In order to get the value coming in "str" I have raised it and found the following value with error in log file

    RuntimeError (2015-0)
Please tell if I am missing anything

[2015-02-02 08:45] Kusti commented on #889
@chrigui you are correct, while Stripe's marketplace API (https://stripe.com/us/marketplaces) is not yet available to the users, the integration could be built with Stripe Connect. However, this would mean that each merchant would need to create their own Stripe account, which could be a bit annoying for sellers in some marketplaces (at least in eBay-style "selling used stuff" sites). Also, buildi

[2015-02-03 10:05] jounih opened #959 "Filters/custom fields doesn't work"
https://testi.sharetribe.com

I am trying to create custom fields/filtering for phone brands - seems that it's not working at all.

In the front end the custom fields are shown at the bottom of EACH category listing, even when it's only applied to one. And tapping a filtering option doesn't actually filter the results anyway

Would expect the custom fields/filtering to only be shown on the selecte

[2015-02-03 13:47] rap1ds commented on #959
Hi!

All custom filters are shown, even if they are only associated with one category. That's definitely not optimal. We are looking for a better solution for that.

What do you mean by saying that "filtering doesn't actually filter the results"? Can you give me an example? I tried the filtering in one other marketplace and it seems to be working ok.

I see that you don't have any listings in your

[2015-02-03 21:10] isaacsanders commented on #889
Would a contribution of Stripe Marketplace integration be accepted, permitting it follows code standards?

[2015-02-03 21:17] chrigui commented on #889
@isaacsanders Stripe connect would be nice :P

[2015-02-03 21:19] chrigui commented on #889
@Kusti : thats correct, it might be pain to try to have each vendor signup for stripe this also has the benefit of the marketplace is not going to be effected by bad feedback or disputes raised by buyers.

[2015-02-04 07:04] rap1ds commented on #893
Closed as inactive

[2015-02-04 07:04] #893 closed

[2015-02-04 07:05] rap1ds commented on #943
Well that is weird. I haven't seen this before and I have no idea what might be the cause...

[2015-02-04 07:37] younes0 commented on #943
Could you please tell me where in the code that sufix is added ? guess it's for caching purposes

[2015-02-04 12:02] Kusti commented on #889
@chrigui very true.

@isaacsanders thanks a lot for the offer, we really appreciate it! However, we're planning to introduce big changes to our payment architecture pretty soon, since we need to organize it a bit differently to make adding new gateways easier. I think that it might be a bit challenging to start working on tis right now, since things will be changing a lot in our end, which might m

[2015-02-04 15:04] isaacsanders commented on #889
Excellent! I can't wait to see how the design matures!

[2015-02-04 18:46] rkrevolution opened #967 "User cannot update their payout information"
There is no UI process if a user needs to update their payout information? Is this available?  It seems like a needed feature..

it is possible in braintree - however, the functionality needs to be added to the OS version sharetribe so that marketplace members can adjust their payout details

https://developers.braintreepayments.com/javascript+ruby/guides/marketplace/update

[2015-02-06 12:12] rap1ds commented on #967
Hi!

When we implemented the Braintree integration, there was no possibility to update payout details via the API. Good to know that they have added that!

The core team is currently concentrating on PayPal and it's not likely that we will add this feature in the near future.

I'll leave this issue open for a while if there's more conversation around the topic.

[2015-02-06 12:13] rap1ds commented on #943
It is for caching purpuses. It's automatically added by Rails.

[2015-02-06 13:39] younes0 commented on #943
Thanks. Solved: http://stackoverflow.com/questions/27112699/rails-4-paperclip-s3-wrong-url-path

[2015-02-06 13:39] #943 closed

[2015-02-06 13:48] rap1ds commented on #943
Great that you found the reason! Thanks for the SO link!

[2015-02-09 04:08] farukaydin opened #976 "generate_customization_stylesheets task"
I have a problem with ```sharetribe:generate_customization_stylesheets``` task. Althought it generates precompiled custom stylesheet like ```public/assets/custom-style-xxxx-20150209035047.css```  in production environment(I use heroku as deployment platform) I can't reach by typing website_path/assets/customcustom-style-xxxx-20150209035047.css Is there any additional configuration to use it proper

[2015-02-09 21:20] rkrevolution commented on #598
Thanks! we had this same issue.

[2015-02-09 21:33] jimrambow commented on #598
Yes, thank you to all who wrote about this, I was working with rkrevolution and we were trying to figure this out for almost 2 days.

[2015-02-10 00:49] bingxie commented on #598
But I found there is validation in Community model, it doesn't allow having '.' in the domain field.

[2015-02-15 11:44] bingxie opened #994 "6 failed cucumber tests with phantomjs"
When I ran the cucumber tests with firefox, all the tests passed.
But when I ran cucumber tests with phantomjs.

I always had 6 failed tests:

Failing Scenarios:
cucumber features/conversations/booking_transaction_process.feature:16 # Scenario: User books a snowboard for 7 days
cucumber features/conversations/post_pay_braintree_payment_process.feature:18 # Scenario: User successfully buys Skateboa

[2015-02-16 11:06] bingxie commented on #994
After I upgraded phantomjs from 1.9.7 to 2.0.0, all the tests passed.

[2015-02-16 11:06] #994 closed

[2015-02-18 01:18] gil27 opened #1000 "Some thoughts on #feedback_positive_percentage"
Hey guys, just thinking about this method: https://github.com/sharetribe/sharetribe/blob/master/app/models/person.rb#L371
[code]
How can we improve this method? Remove those "if" statements?
After some thought on that I came up with something like that:
[code]
As an example we can take `positive_testimonials = 8` and `received_testimonials = 10`
Then we have:
[code]

What do you think? Does that m

[2015-02-18 13:22] ovan commented on #1000
Hi @gil27. Sound like good direction. You must still add a check to precent division by zero. I'll close this issue but would be happy to see a pull request about this so the CI server gets to run tests on it etc.

[2015-02-18 13:22] #1000 closed

[2015-02-18 15:55] rap1ds commented on #1000
Congrats for the issue number 1000! :tada:

[2015-02-21 15:37] rap1ds commented on #959
Closed due to inactivity

[2015-02-21 15:37] #959 closed

[2015-02-28 14:48] Sivan1525 commented on #665
@budhrg , I am getting same issue so can you tell me how did you do this?

[2015-03-03 12:28] bingxie commented on #665
@budhrg  yes, I have the same issue. I created group and user. What do you mean for 'CORS settings'?

[2015-03-03 12:38] budhrg commented on #665
@bingxie @Sivan1525 : This might help you.
http://blogs.aws.amazon.com/security/post/TxPOJBY6FE360K/IAM-policies-and-Bucket-Policies-and-ACLs-Oh-My-Controlling-Access-to-S3-Resourc

My policy looks simple:

[code]

[2015-03-04 09:51] bingxie commented on #665
Thank you @budhrg
After I configed the CORS in bucket's permissions settings like this:
[code]
Then it worked.

[2015-03-04 09:58] budhrg commented on #665
Cool @bingxie :+1:

[2015-03-05 11:31] 3bbing opened #1040 ""uninitialized constant Mercury" at rake db:schema:load"
Dear Sharetribe Team,

When going through your installation I faced the above mentioned error

- uninitialized constant Mercury::Engine(NameError)

Fixed it by adding

- require 'mercury/rails'

to the application.rb like said in this thread [1]. Fine for me, anyhow in the thread there is an ongoing discussion why or why not this may happen and they say the require call shouldn't be neccessary act

[2015-03-12 13:43] gugl commented on #909
Any news on the timeline for the upgrade?

[2015-03-12 16:11] aug-riedinger commented on #942
I've had the same error. Found the related issue through Github repo's search (don't know why google doesn't) :
https://github.com/jrgifford/delayed_paperclip/issues/129

All `process_in_background` must be declared after `has_attached_file`
[code]

[2015-03-26 07:35] shamanovsky opened #1096 "NoMethodError in HomepageController#index"
undefined method `name' for nil:NilClass

app/controllers/homepage_controller.rb:28:in `index'
config/initializers/oneline_detailed_logging.rb:31:in `block (2 levels) in <top (required)>'
config/initializers/oneline_detailed_logging.rb:30:in `block in <top (required)>'
lib/rack_middleware/custom_domain_cookie.rb:20:in `call'

Please advise.

[2015-03-27 17:26] Pequi-eu opened #1107 "rake assets:precompile fails with aws S3"
Hi everyone and first, thanks for the great job to the sharetribe team!

I deployed Sharetribe on my Mac without any problem and I'm now trying to do it on AWS (EC2 + RDS + S3).
Everything was fine, I just did some modifications (to avoid mistakes) like:

- add 'mercury/rails’ in config/application.rb
- modified config.assets.compile = false by true in config/environments/production.rb

I created

[2015-03-29 14:15] kaskavalci commented on #1040
Thanks for the tip. After that I  had the error

``` ExecJS::RuntimeUnavailable: Could not find a JavaScript runtime. See https://github.com/sstephenson/execjs for a list of available runtimes. ```

Even though I had execJS. Apparently, you need nodejs as well to run it. For ubuntu users simply

``` sudo apt-get install nodejs ```

CentOS/RedHat Users

``` sudo yum install nodejs ```

[2015-03-29 21:00] #1096 closed

[2015-03-30 01:18] RileySpiller commented on #896
I am getting this also. What do you mean by "Use subdomain"? Thanks.

[2015-03-30 04:19] harshad26 commented on #896
Sub-domain use means before i used http://xyz.com but after used sub-domain means http://test.xyz.com so solved it.

[2015-03-30 14:53] Pequi-eu commented on #1107
UPDATE:

I redo the install today and I still have the impossibility to connect to S3 but Sharetribe is working (except that images cannot be downloaded of course).

Also, I think it is not a Sharetribe issue but an issue on my side regarding S3 parameters. However, I still do not understand what is going wrong. I have the AWS Keys I entered in config.yml. I also specified the bucket.

If any idea

[2015-03-31 22:25] shamanovsky opened #1112 "Can not find new transaction path to listing_id: X, payment_gateway: , payment_process: preauthorize, booking: false"
how to test locally?

[2015-04-01 00:58] bingxie commented on #1107
Have you set up the policy to a group or user on AWS?

[2015-04-01 02:49] bingxie commented on #1107
For the asset_sync, I also found maybe we need to config
fog_directory         = app_config.FOG_DIRECTORY
fog_provider          = app_config.FOG_PROVIDER
in config.default.yml.

[2015-04-01 09:20] Pequi-eu commented on #1107
You're right. The config.yml is made to work with Heroku I presume. So I made the following changes in config.yml:

- I added: FOG_PROVIDER = AWS
- I added: FOG_DIRECTORY = mybucket
- I deleted: s3_bucket_name
- I added: FOG_REGION = eu-west-1

in asset_sync.rb I added:

- fog_region            = app_config.FOG_REGION
- config.fog_region            = fog_region.get

With that, it is a little bette

[2015-04-02 12:03] bingxie commented on #1107
Why did you delete 's3_bucket_name'? So you don't need to use S3 as image uploading storage?

[2015-04-02 14:24] Pequi-eu commented on #1107
When looking at config/initializers/asset_sync.rb, it is coded:

aws_access_key_id = app_config.aws_access_key_id
aws_secret_access_key = app_config.aws_secret_access_key
fog_directory = app_config.FOG_DIRECTORY
fog_provider = app_config.FOG_PROVIDER

Where 'fog_directory' refers not to 's3_bucket_name' but to 'FOG_DIRECTORY'. However, there is no parameter in any Sharetribe files, to specify FOG_

[2015-04-06 10:43] pilgrim2go commented on #1112
I have the same issue when checking out sharetribe and run locally ( Vagrant)

[2015-04-07 11:55] bingxie commented on #1112
This issue is because the latest code, when you create new marketplace community, it will create a :preauthorize type community. So you need payment gateway setup.

The temporary solution is to change marketplace service API:
/app/services/marketplace_service/api/marketplaces.rb:63

change :preauthorize to :none

I would like to suggest sharetribe team to support setting this using a parameter.

[2015-04-07 12:26] rap1ds commented on #1112
@bingxie @pilgrim2go That's right, this needs to be improved. The Marketplace API should take the transaction process (:preauthorize vs :none) as a parameter.

Then CommunitiesController should create a new marketplace with :none process and IntApi::MarketplaceController should create a new marketplace with :preauthorize.

If you have time to write a PR I can quickly review and merge it.

Thanks @

[2015-04-09 00:02] bingxie commented on #1112
Thanks @rap1ds for your suggestions. So I will have a try to fix this today.

[2015-04-09 13:35] Pequi-eu commented on #1107
UPDATE:
I created a new bucket on the same region as my EC2 (eu-west-1) and it seems to work. Before I had my EC2 on eu-west-1 and my S3 on eu-central-1.

So I still do not understand the bug, but it is probably an Amazon one. I just now have pb to upload photos but will try to correct it, and after that, I will post a tuto!

[2015-04-11 17:09] Pequi-eu commented on #1107
All is working now!

To sum up:

1/ Create you S3 in the same region as your EC2
2/ Add in config.yml
- FOG_DIRECTORY: bucket_name
- FOG_REGION: eu-west-1 (or other)
- FOG_PROVIDER: AWS
- ASSET_SYNC_GZIP_COMPRESSION: true

3/ Add in asset_sync.rb
- fog_region = app_config.FOG_REGION
- config.fog_region = fog_region.get

@SharetribeTeam, @rap1ds : I think it could be interesting to put those parame

[2015-04-11 17:09] #1107 closed

[2015-04-13 12:27] bingxie commented on #1107
Thanks, this could be very useful. I used google translate to read. :)

[2015-04-14 03:14] appcodr opened #1150 "Could not host in Azure cloud server"
Hi, I hosted sharetribe in a Azure VM (Ubuntu 12.04). I was able to successfully setup everything but when I access the page from outside of the VM(i.e from laptop host) it gives error

Here is what i see in the terminal in the server
=> Call with -d to detach
=> Ctrl-C to shutdown server
[2015-04-14 03:09:20] INFO  WEBrick 1.3.1
[2015-04-14 03:09:20] INFO  ruby 2.1.2 (2014-05-08) [x86_64-linux]
[

[2015-04-14 15:36] appcodr commented on #1150
This is very similar to this issue
https://github.com/sharetribe/sharetribe/issues/631

But I cannot find that dashboard_subdomains setting anymore as it is removed..

[2015-04-15 09:09] Vanhal opened #1155 "Adding Payment processors"
Hi there, less of an issue and more of a feature request,

I was attempting to add stripe connect (https://stripe.com/docs/connect) as a payment processor instead of brain tree in the community but with the way that it is set up at the moment  references to either braintree or paypal are hard coded all over the place.

Might it be an idea to abstract out the entire payment processors as modules?
A

[2015-04-15 09:33] pauldionbrooks commented on #1155
I have not had a look at it yet, and replacing the whole module might be
the best option. Have you looked at the Dwolla API (
https://developers.dwolla.com/ )?  Seems like it would be most practical to
have a payments module that would support any, or even ALL payment
processors...

Or even multiple modules (http://www.silverearth.com/)?

Anxious to follow this conversation.
On Apr 14, 2015 11:09

[2015-04-15 11:58] bingxie commented on #1112
@rap1ds so this issue can be closed. Thanks.

[2015-04-16 10:33] #1112 closed

[2015-04-16 13:37] rap1ds commented on #1155
Hi!

See #889 . @Kusti has explained the current situation there quite well.

Abstracting the payment gateways is definitely on the list of things to do in the future.

[2015-04-16 13:37] #1155 closed

[2015-04-18 15:49] shamanovsky opened #1162 "ActiveRecord::StatementInvalid at / Mysql2::Error: Table 'sharetribe3.sessions' doesn't exist: SHOW FULL FIELDS FROM `sessions`"

[2015-04-18 15:56] #1162 closed

[2015-04-21 07:49] rkukuczka opened #1169 "Timeout"
Hi everybody:
I get sth like this up and then, no many records really, how comes. What can I do about it?

I18n::InvalidLocaleData in HomepageController#index

can not load translations from /Users/rafal/Documents/dev/PRD-EcoHub/Modules/Repos/Bitbucket/EcoHub4/sharetribe_2/config/locales/hu.yml: #<Rack::Timeout::RequestTimeoutError: Request ran for longer than 15 seconds.>

[2015-04-21 07:56] rkukuczka opened #1170 "NoMethodError in ListingsController#create"
NoMethodError in ListingsController#create

undefined method `collect' for nil:NilClass
Rails.root: /Users/rafal/Documents/dev/PRD-EcoHub/Modules/Repos/Bitbucket/EcoHub4/sharetribe_2

Application Trace | Framework Trace | Full Trace
app/controllers/listings_controller.rb:236:in `create'
config/initializers/oneline_detailed_logging.rb:31:in `block (2 levels) in <top (required)>'
config/initializers

[2015-04-30 03:03] RileySpiller commented on #1170
That particular line has to do with getting the images from the listing. I'd double check any install steps that deal with images in general.

[2015-04-30 13:40] jigartank opened #1191 "switch market place from selling to renting"
Hello,

I've setup sharetribe on ec2 instance. During initial configuration I set the marketplace to selling instead of renting.
Is there a way I can change it now ?
Please suggest.

[2015-04-30 18:49] mparramont opened #1192 "Login fails on fresh sharetribe install"
I just installed sharetribe on EC2, you can see it working [here](http://54.191.173.8:8080/en).

I can create users and they show on the database, but I can't log in with any of them.
When I log in, it seems that it logs the user successfully, and then the user is redirected to `app/controllers/community_memberships_controller.rb` where it checks again if the user is logged in, and there it is not

[2015-05-02 16:00] ssoulless commented on #909
Hi, Im also willing to help in this, is there any advance on this topic?

[2015-05-03 13:38] khohck opened #1193 "confirmation email problem"
Hi

I've setup a domain name (eg : test1.com) and the confirmation email that I get for the url
is always test1.test1.com/en/people/confirmation?

my config.yml :
# NOTE: Do not include http(s) here, or subdomains, just the top level domain, like "sharetribe.com" for example
  domain: "test1.com"

How do I fix this to get the confirmation email to work properly.

Thanks much !

[2015-05-05 00:07] RileySpiller commented on #1193
I'm having the same issue. Seeking the answer now also.

[2015-05-05 00:26] RileySpiller commented on #1193
I was able to fix it by putting "www.test1.com" in the `domain` field of the `communities` database. However I'm not sure this is how you're supposed manage this.

[2015-05-12 12:18] khohck commented on #1193
I ended up fixing my dns forwarder.:(

I'm starting my server this way :
nohup rails server -e production &

is there a better way to start and stop this process ?

I realise the upload images stop working after 1 day and the emails stop sending out too .
Does any one have the same issues ?

TIA

[2015-05-13 10:28] rap1ds commented on #1191
Hi!

We are about to add a new page to the admin site which allows you to edit the order types (selling, renting, requesting etc.). That will be available next week.

[2015-05-13 10:28] #1191 closed

[2015-05-14 04:53] khohck opened #1222 "sharetribe running on linux kept crashing"
The latest ver of sharetribe on linux keep crashing.

The email stop working.
The image upload stop working too.

I had to restart the process everyday.

Please help.

[2015-05-14 12:03] khohck commented on #1222
tail -f production.log
DalliError: No server available
DalliError: No server available
source=rack-timeout id=95e270c97adc13a0873a62b8b608cbdc timeout=23000ms service=2ms state=completed
source=rack-timeout id=e47947b27126e04c5191de1ea7527147 timeout=23000ms state=ready
DalliError: No server available
DalliError: No server available
DalliError: No server available

[2015-05-14 19:25] ovan commented on #1222
@khohck Is this new behavior? Has some older version of Sharetribe worked in your setup? The error you see, DalliError: No server available suggests there's no connection with a memcached server. Do you have a working memcached setup? We changed the failover settings a bit just this week so I'm wondering if this is related.

[2015-05-15 10:26] khohck commented on #1222
I just setup shatetribe 2 weeks back following the setup instructions provided. Is memcache required or mandatory ?

Do u have the steps to disable memcache in sharetribe, if not how do i go about setting up memcache and getting this to work w my setup.

Thanks & appreciate your reply.

[2015-05-15 10:50] ovan commented on #1222
Yes, memcached is required with the default production configuration. You can alter the environment configurations to use e.g. memory store with rails cache but in that case make sure to run only one instance since you're not using a shared cache. More instructions about general rails caching and configuration e.g. here: http://guides.rubyonrails.org/caching_with_rails.html#configuration

[2015-05-15 10:50] #1222 closed

[2015-05-23 08:43] khohck commented on #1222
Hi

I'm new to this.
Could you elaborate how do I go about altering memory store with rails cache.

thanks

[2015-05-29 09:24] khohck opened #1250 "Sharetribe : About listing does not show the menu drop down arrow"
Hi

I've problem on the "About" listing, it does not show the menu drop down arrow on mobile devices.
As such a user will not know how to navigate " How it works" "Privacy" "Terms of use"

Could you let me know how to add this menu arrow to the about listing or to move "How it works" to the main menu ?

Thanks

Khoh

[2015-05-30 06:35] #1193 closed

[2015-06-02 09:56] khohck opened #1259 "share tribe expiry open source"
Is there an expiry for the open source version ?

I just got a message "Your Sharetribe trial has expired."

[2015-06-02 18:44] eltonokada opened #1262 "Sending emails - production"
Hi,

I've configured Sharetribe in a Digital Ocean VPS, everything is running fine, but the emails don't.

I created a Postmark account, changed the
config.default.yml
mail_delivery_method: "postmark"

But, i am still getting an error message:

Errno::ECONNREFUSED (Connection refused - connect(2) for "localhost" port 25):
  app/controllers/sessions_controller.rb:102:in `request_new_password'
  con

[2015-06-02 19:07] #1262 closed

[2015-06-03 03:25] #1259 closed

[2015-06-04 17:07] jigartank commented on #1191
ok thanks.

I'll await that update.

[2015-06-07 21:27] chase221 opened #1274 "Image upload is not working"
I am having trouble uploading product images on sharetribe.  I click on select file and select the file I want to upload.  At this point I see 0% and nothing further happens.

I am using sharetribe on heroku.  The app is up and running and I am able to add products.  When I run heroku logs this what I get:

2015-06-07T21:22:39.249527+00:00 heroku[web.1]: Process running mem=575M(112.4%)
2015-06-07

[2015-06-10 14:10] chase221 commented on #1274
I figured this out.  It was a CORS issue with AWS.

[2015-06-10 14:10] #1274 closed

[2015-06-14 20:59] chase221 opened #1293 "Want to do an OR search rather than AND - is this possible?"
I had a question around the implementation of the search functionality, and how to have the custom checkbox filter return all listings that match any checked checkbox.

Here’s where I am at so far:

I have a custom listing field/filter called “delivery zone” that is a checkbox. Right now this displays on the homepage correctly, and users have the option of selecting multiple “delivery zones” by ch

[2015-06-14 21:11] chase221 opened #1294 "Product post for Users without payment information input"
I am setting up a new marketplace.  We have braintree payments configured and that is working well.  The checkout process is great!

I like the functionality on the hosted version of sharetribe where users can post listings even if they have not yet entered their payment information.

I am having trouble re-creating this on the OS version though.  Currently when a user attempts to post listings wi

[2015-06-14 23:32] #1250 closed

[2015-06-26 18:21] MatiasFernandez opened #1302 "Test fail when using Zeus"
Hi guys, I'm trying to run the specs of the project using Zeus but I'm facing some strange errors.

If I run Zeus inside Rubymine and then run an example that uses FactoryGirl to create a Person (i.e: person_mailer_spec.rb) I'm getting this error: `ActiveRecord::RecordInvalid: Validation failed: Emails is invalid`.

Do you know where is the problem?, if I run the spec without using Zeus it works o

[2015-06-30 22:16] eltonokada opened #1310 "Error when requesting a free listing"
I've just updated the sharetribe to the latest commit, and now i am getting this error in a free listing:

NoMethodError - undefined method `person_transactions_path' for #<TransactionsController:0x0000010eafccd8>:
  app/controllers/transactions_controller.rb:358:in `render_free'
  app/controllers/transactions_controller.rb:36:in `block in new'
  app/services/result.rb:52:in `on_success'
  app/con

[2015-07-04 09:47] pablorodriguezgonzalez opened #1318 "Design part not working"
Hello!

I'm testing Sharetribe to see if it fits our needs, but I'm facing some problem when changing something like logo, colors, etc, in admin as isn't working at all and the server stops.

I'm using Debian 7, Ruby 2.1.2 and the rails server throws this just after upload the logo and click "Save": (example.com it's ommited)

[2015-07-04 09:44:48] INFO  WEBrick::HTTPServer#start: pid=19982 port=3

[2015-07-06 06:31] bingxie commented on #1318
Did you start the delayed_job like this: rake jobs:work.

[2015-07-06 06:44] pablorodriguezgonzalez commented on #1318
Yes bingxie, with production parameter:

rake RAILS_ENV=production jobs:work

[2015-07-06 13:01] malachaifrazier commented on #1318
What ENV are you using? Any logs showing up?

[2015-07-06 16:13] pablorodriguezgonzalez commented on #1318
Hello malachaifrazier,

Debian 7, Ruby 2.1.2 and default server that comes to serve the pages, plus MariaDB; I don't know where to find another logs except the one I've put, can you help with that?

Best.

[2015-07-10 10:00] pablorodriguezgonzalez commented on #889
Hello!

Are there news regarding to this?

Stripe Connect are available in a lot of countries right now.

By the way, @kusty, I don't understand this " However, this would mean that each merchant would need to create their own Stripe account, which could be a bit annoying for sellers in some marketplaces" as with PayPal it's exactly the same, the merchant must create a PayPal business account, wha

[2015-07-10 10:37] Kusti commented on #889
@pablorodriguezgonzalez no updates yet. Stripe Connect is available in quite a few countries, but actually in order to work with managed accounts (which is useful to many marketplaces, because then the sellers don't have to go to Stripe to create an account there), you need to be in US or Canada still.

You are correct, with PayPal the merchants also need to create a PayPal business account, which

[2015-07-10 11:24] pablorodriguezgonzalez commented on #889
Hello @Kusti!

It isn't exact, while in the doc you are right and can see that is needed to be in US or Canada, Connect is available for other countries and with managed accounts, in Domesting we're in the UK and in Spain and working with managed :) If you need more information, I'm happy to help with that.

Best.

[2015-07-10 12:20] Kusti commented on #889
@pablorodriguezgonzalez ok, cool! I just emailed Stripe support a few days ago and they told me that to use Connect with managed accounts the standalone account needs to be in US or Canada. Weird... anyway, I can't yet give a timeline for when we are able to move forward with Stripe integration, because there's lots of other stuff we need to figure out before that. But I'm sure we get there eventu

[2015-07-10 12:35] pablorodriguezgonzalez commented on #889
@Kusti isn't strange, sometimes happens depending on the person that answered to you :D

So I recommend you to insist, if you need some help with that I can put you in touch with a person in Stripe, not support itself. And of course, if you need some technical help with managed accounts and others, happy to help too!

Best.

[2015-07-13 13:07] Amenocy opened #1324 "add new payment gatway"
hi
i want to add new payment gateway to this amazing software ,
in files there are many paypal files in folders such as : controllers , models and services
please help me some to add new gateway

[2015-07-16 09:22] yo-gen opened #1329 "rake assets:precompile not working."
I am trying to deploy sharetribe on the cloud9 ide. When i use rake assets:precompile, memory limit is hit and the process is getting killed. I am using 512MB ram, with 1GB disk space. I do not currently wish to increase my memory size. Is there some workaround?

The error messages -

Digest::Digest is deprecated; use Digest
/usr/local/rvm/rubies/ruby-2.1.2/bin/ruby /usr/local/rvm/gems/ruby-2.1.2/

[2015-07-16 10:04] vshnusuman opened #1330 "Non-US can use Braintree payment gateway"
We're planning to use Sharetribe open source code and do the required customization. I just read out in the payment section that to start with Braintree you need to have a legal business in The United States. So Non-US can not use it?
If no, then can we integrate PayPal using open source code? for that I have my eCommerce developer and he will integrate PayPal or Stripe.
Please let me know what is

[2015-07-16 14:36] yo-gen commented on #1330
edit the word sue to use in your issue. That gave me a mini heart-attack :stuck_out_tongue_winking_eye:

[2015-07-16 14:54] vshnusuman commented on #1330
haha @yo-gen just corrected!

[2015-07-20 12:14] Hermi999 commented on #1330
Have a look at https://www.braintreepayments.com/faq question "Is Braintree available in my country?":
... Braintree is available for merchants in the United States, Canada, Australia, Europe, Singapore, Hong Kong, Malaysia and New Zealand. In legal terms, you have to be domiciled in a supported country....

[2015-07-27 11:06] diblex opened #1337 "Nokogiri bundle install problem"
Following the instructions to install sharetribe on Ubuntu 14.04, you come to an error where you can't run successfully `bundle install` Nokogiri complains about lib dependencies. I found a workaround, but I am worried this is not explained in the Readme file, so just suggesting to add some comments on it. The solution is:
- Install nokogiri dependencies: `sudo apt-get install libxslt-dev libxml2-

[2015-07-28 12:50] bingxie commented on #1337
This is useful.

[2015-07-29 08:56] math29 commented on #1330
Hi !
I'm in the same case than you @vshnusuman , and looking for enabling the breantree solution in Sharetribe. My company is located in Europe.
Some news about that ? :)

[2015-07-29 09:02] math29 commented on #1324
Do you mean that you want to configure Breantree by adding a new row in the payment gateway table ?

[2015-07-29 09:17] vshnusuman commented on #1330
Hi @math29
As far as I collected the information, You have to remove existing PayPal or Braintree files and then integrate either PayPal or Braintree or Stripe from scratch as per your requirements. I am doing this.
But still, I am not fully sure if there is another alternate so DO confirm at your end.
Thanks,
Vishnu

[2015-07-30 21:05] lfgranja commented on #1337
This was useful for me.

[2015-08-07 08:08] math29 commented on #1329
I have exactly the same problem ! Did you find any thing about that ? :)

[2015-08-07 12:48] math29 opened #1366 "Production AWS : Can't access to subdomain"
Hi everyone !
I am trying to set Up ShareTribes on my AWS EC2/S3/RDC following this tuto : http://www.pequi.eu/installation-de-sharetribe-sur-amazon-web-services-aws-etape-2-parametrage-de-sharetribe/#comment-171

Now I have this :
- domain : ec2-54-148-232-246.us-west-2.compute.amazonaws.com
- subdomain example (name entered when I logged in ec2-54-148-232-246.us-west-2.compute.amazonaws.com:3000

[2015-08-07 12:52] math29 commented on #1330
Re @vshnusuman ,
I come back to you just to say that I used my custom Braintree developed solution and it works very well ;)
Thanks for your answer
Math

[2015-08-07 12:59] math29 commented on #1192
Did you try to access to your subdomain ?
What did you use to allow accessing site on the 8080 port ?

[2015-08-07 13:17] vshnusuman commented on #1330
Hey @math29
That's great to know that you achieved your goal.
cheers!
Vishnu

[2015-08-11 13:49] ptzool opened #1375 "INBOX view - Fatal error"
Hi,

I sent a message for a test user and when I watch the message (http://domain.tld3000/en/testuser/inbox) I get the following message.

What is the problem?

[code]

[2015-08-13 14:07] arvindvyas commented on #876
@usmanarif how you resolved this? because I am also facing same issue.

[2015-08-14 14:39] 419371274 opened #1390 "bundle exec rake ts:index"
bundle exec rake ts:index --trace
/usr/local/lib/ruby/gems/2.1.0/gems/bundler-1.10.6/lib/bundler.rb:315: warning: Insecure world writable dir /usr/local/lib/ruby/gems/2.1.0 in PATH, mode 040777
** Invoke ts:index (first_time)
** Invoke environment (first_time)
** Execute environment
INFO Connecting to database specified by database.yml

AssetSync enabled: false

Using the following AssetSync confi

[2015-08-15 15:30] congkinh opened #1394 "Login with Facebook always uses the port 3000"
Hi,

I deployed a version of sharetribe in production mode with integrating Facebook. I use nginx for reverse proxy from 80 (443 later) to 3000. However, when I logged in with my Facebook test account, the redirect_uri was using the port 3000 instead of 80. Could anyone of you tell me how to fix it? The following pattern was received by logging in with Facebook:
[code]

Best regards,
Kinh

[2015-08-15 15:34] congkinh commented on #1390
From my understanding, you should do the following steps (it worked with me on Debian):

[code]

I guess there would be some errors while documenting the instruction.

[2015-08-15 21:01] ptzool commented on #1394
Did you change the redirect URL on Facebook developer page? (Valid OAuth redirect URIs)

[2015-08-16 08:56] congkinh commented on #1394
Hi @ptzool,

Yesterday, I let it be empty. I didn't configure anything for this. So, port 3000 was somehow fixed in code itself.

I changed Valid OAuth redirect URIs on Facebook  with `http://example.com/people/auth/facebook/callback` (I supposed that mydomain was `example.com`). However, I still received the `redirect_uri` with port 3000 from URL. But, it didn't work while I was using this redire

[2015-08-17 07:40] svallory opened #1395 "Donation of payment method abstraction"
Hi, I've been hired to implement a new payment method (namely https://moip.com.br/). The way I want to go about it is to abstract away the payment method using either Strategy pattern, configured via `config.yml` or a plugin structure where many methods could be available at the same time. Then I would make a pull request to integrate it to the main project. That is considerable more work than I h

[2015-08-17 08:43] #967 closed

[2015-08-17 08:52] rap1ds commented on #1375
Thanks for the report!

We haven't seen this issue before, so it's hard to tell what's the problem. Could you provide some additional information about the issue? What did you do exactly? Are you able to reproduce the issue? Can you describe exact steps to reproduce it?

Thanks!

[2015-08-17 13:54] 419371274 commented on #1390
i follow your instruction,but still the same error occured as above.

[2015-08-17 15:14] math29 commented on #795
Hey I have got exactly the same problem with my AWS configuration.
It works perfectly for the main site but for my "community site" it doesn't work !
I just changed the domain parameter in config.yml :
domain: "ec2-52-19-82-115.eu-west-1.compute.amazonaws.com:3000"
Some idea ? :)

[2015-08-18 05:47] rap1ds commented on #1395
Thank you so much for you initiative! We greatly appreciate it!

TL;DR, Adding country specific gateways is definitely something we want to do, but now right now. This is not high on our roadmap, so that's why we will not merge it to the master.

Longer story:

As I mentioned, adding country specific gateways is something we are very interested and something we feel that the OS community could hel

[2015-08-18 05:47] #1395 closed

[2015-08-18 05:55] rap1ds commented on #1390
Hi! It seems that you are using Ubuntu, right? Sharetribe.com is hosted on Heroku, and I not familiar with running Sharetribe on other environment than Heroku. However, I know that many open-source developers are running Sharetribe on Ubuntu, so I help some one can help you.

My gut feeling is that this error is probably something related to your envrionment and not a bug in Sharetribe code. Becau

[2015-08-18 05:55] #1390 closed

[2015-08-18 06:05] rap1ds commented on #1366
Hi!

Check these database columns:

* communities.deleted : Make sure it's `false` (or `0`)
* community_plans.expires_at : Make sure it's `NULL`, so that you "plan" doesn't expire
* community_plans.plan_level : Set to `4`, so that you unlock all the goodies :)

If it still doesn't work, try this:

* Set your `domain` in the config.yml file to: `us-west-2.compute.amazonaws.com`
* Set your `communit

[2015-08-18 06:07] ptzool commented on #1375
Hi,

I found a workaround. I commented out this line [:last_activity_at, :utc_str_to_time, :mandatory] in app/services/marketplace_service/inbox.rb.

The problem is the next function (utc_str_to_time) I think.

Regards,

Zoli

[2015-08-18 06:12] rap1ds commented on #1337
Hi!

What we're the instructions you were following? Some time ago, we removed installation instructions for Ubuntu from our README, since the Sharetribe team is using mainly MacOSX for development and Heroku for hosting. As you may guess, the old installation instructions were pretty bad and outdated because no one from the team had an incentive to keep them updated.

If you have good installatio

[2015-08-18 06:12] #1337 closed

[2015-08-18 06:13] #1330 closed

[2015-08-18 06:21] rap1ds commented on #1324
Hi!

By no means, adding a totally new payment gateway is an easy thing to do. It requires some extensive Ruby skills. Just a word of warning.

The best way to get started is to look how PayPal is implemented. In addition to typical MVC Rails setup, our application uses API and Store layer in order to add some modularity. API and Store form a Service.

Transactions are handled by the TransactionSe

[2015-08-18 06:21] #1324 closed

[2015-08-18 06:23] rap1ds commented on #1310
Did you find out anything? This sounds something that may be a bug in the code.

[2015-08-18 11:58] svallory commented on #1395
I understand those points. I've been there, so I really do. But I don't think what I proposed is clear enough.

Forget about moip, what I'm offering is: to abstract the **current** payment structure in such a way that it's easier to add new gateways. The end result would be that paypal and braintree gateways are used by the rest of the code through a common interface. The only code added to sharet

[2015-08-18 13:35] math29 commented on #1366
Thanks a lot,
I have set my own domain name (Alias with AWS Route 53 etc..) and i deleted in the database the communities.ident. I think I don't need a subdomain.
It looks working for the moment !

[2015-08-18 16:10] math29 opened #1402 "Sorry for the disagreement"
Hello,

I am using Sharetribes too and I saw that you have put it in production on a server.
How did you do concerning your subdomain name problem ?

Thanks in advence ! :)

[2015-08-18 16:11] #1402 closed

[2015-08-18 16:14] math29 commented on #885
Hey :)

How did you do to solve your problem of DNS ?

Thanks
Math

[2015-08-19 05:43] rap1ds commented on #956
There's another issue #1375 which seems to be duplicated.

I'll close this and let's continue discussion in #1375

[2015-08-19 05:43] #956 closed

[2015-08-19 05:47] rap1ds commented on #1375
Ookey... well commenting out the like is definitely a workaround, not a fix 😊 There's a good reason why that line of code exists there 😉

I'm still interested to hear what we're the steps that you did before this error occured?

We've seen the error with the `last_activity_at` a couple of times, and usually it occured because you have started a new transaction which doesn't contain any activity, i

[2015-08-19 05:54] rap1ds commented on #1366
When you say that _"community".trymyhome.xyz steel not accessible._ what do you see if it's not available? Do you see a page saying "Community not found", or is the browser just saying that the page is unavailable.

If you see "Community not found", that means that the request is successfully coming to the Rails application. In this case, the community.ident/community.domain/domain in the config.y

[2015-08-19 05:57] rap1ds commented on #1329
I'm not familiar with cloud9 IDE, so I can not give any tips regarding that environment.

Did you btw. ran the `rake assets:precompile` on your local development machine or on the cloud9 machine?

How did you come up that it's a memory issue? I couldn't find any mentioning about memory in the stack trace. Did I miss something?

[2015-08-19 06:01] rap1ds commented on #976
We use a little bit different setup with sharetribe.com. Instead of saving the stylesheet to Heroku, we use Amazon S3 to host the static file. I strongly recommend that to use, since it's waste of Heroku dyno capacity to serve static assets directly from the dyno.

In order to do that, you should setup a S3 bucket and then will in the configurations in your config.yml

[2015-08-19 06:01] #976 closed

[2015-08-19 06:04] rap1ds commented on #1150
I'm not familiar with Azure VM, so I can not give any tips regarding that environment.

I suggest you to check that your `config.yml` domain is setup correctly and the `community.ident` is correctly set.

Hope that helps.

[2015-08-19 07:04] math29 commented on #1329
For my mind I had this error with the S3 of AWS because of a CORS error of my part.

[2015-08-19 07:09] math29 commented on #1366
Thank you very much for your help,

That was a just a little DNS mistake ..

Every things works perfectly wright now !

[2015-08-19 07:09] #1366 closed

[2015-08-19 09:08] yo-gen commented on #1329
I could understand that i am facing a memory issue, because cloud9 ide has an interface where i can view current memory usage. As soon as I tried precompile assets, the memory usage peaked, and the process got killed.
However I have started using Koding and my production server also has enough memory, so I no longer face this issue. Thanks anyways :)

[2015-08-19 14:01] math29 opened #1405 "Download Images"
Hi everybody,

I installed sharetribe on a AWS EC2/RDS/S3 server. Everythings works except the image downloading.
When I try to download an image it goes to 100% and then let me see : "Erreur lors de l'envoi d'image" = "Error during the image sending".
I have this error that appear :

INFO source=rack-timeout id=0d36edf7ec746925608e1e8b1a643772 timeout=23000ms state=ready
DEBUG Cache read: http://

[2015-08-19 22:42] svallory commented on #1395
@rap1ds any thoughts?

[2015-08-20 05:58] rap1ds commented on #1293
Hi!

As you said, the "Checkbox group" indeed works as a AND search. Instead, the "Dropdown" works as a OR search.

To my understanding, if you pass an array to the `with_all`, if will perform an AND search. If you pass it an array of array, then it will perform OR search.

If you use a debugger (binding.pry) it's easy to see the content of the `with_all` hash. For example, here I have 4 filters,

[2015-08-20 05:58] #1293 closed

[2015-08-20 06:09] rap1ds commented on #1294
The possibility to post before entering payment information has not been implemented to Braintree. If you want to allow it, it requires some work on the code side. I can give you tips what to look at:

In the ListingsController you can find a method `payment_setup_status`. You can see that there's a varaible `can_post` which controls whether the user is able to post listings without payment inform

[2015-08-20 06:09] #1294 closed

[2015-08-20 06:56] rap1ds commented on #1395
Sorry, I may have been a little unclear with my answer. I did understand that the main point is the abstraction of the payment gateways, not Moip integration.

Sure, if you want to build it, go ahead! 😊 But what I'm saying here that I can not promise that it will end up to the Sharetribe master branch. In fact, I expect that it will not be merged.

And sorry about my skeptic attitude. I can explai

[2015-08-20 09:04] math29 commented on #1405
Images are sent to the S3 and listing_images are created, this is just the "downloading" step which set the differents fields of listing_image (like name, size etc...) that don't works.
I checked 3 times my production configuration ...
Any ideas ? :)

[2015-08-20 13:38] #1302 closed

[2015-08-21 04:27] svallory commented on #1395
@rap1ds Thank you very much for the thoughtful response.

I know this is not an easy task and I completely understand, and agree, that it is in fact a job for the core team. Now that I know you understood what I proposed, I'll leave it be. I don't know if I'll abstract the payment or not, since that's more work and the only incentive I had was for it to be merged, but I'll let you know how it goes

[2015-08-23 16:18] chase221 commented on #1293
Thanks for the help.  I did make the change and the search is now working as I want.  I removed flatten and also changed "checkbox_filter_option" to "filter_option".

The real world case is we have various service zones (based on neighborhood, not city).  When a merchant posts a listing we want them to be able to select however many service areas they want to cover.  This could be one or many area

[2015-08-23 17:44] chase221 commented on #1294
Thanks for the help with this.  We did get the posting ability up and running before the payment details were entered by adjusting the can post section.

[2015-08-24 06:45] rap1ds commented on #1405
Do you have a worker running? The line 79 in `listing_images_controller` trying to save the Delayed Job description to the database and apparently it fails.

[2015-08-24 06:46] #1329 closed

[2015-08-24 06:52] rap1ds commented on #1192
Thanks for reporting the issue! This is a bug in the code. The app doesn't work well if you are running it from an IP address and not using a domain name. The cookies get mixed somehow up and that's why the login doesn't work.

If you are able to reproduce the issue, could you please add the exact steps to the issue description? You can use the issue template, https://github.com/sharetribe/sharetr

[2015-08-24 06:55] rap1ds commented on #1170
Are you using S3? Have you configured S3 bucket correctly? Is the image successfully uploaded to your S3 bucket?

Can you reproduce the issue? Please add the exact steps to reproduce the error to the issue description. You can use the issue template https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md Thanks!

[2015-08-24 06:58] rap1ds commented on #1169
I guess that because you get an `InvalidLocaleData` exception, the issue is that you are using locale that is not available.

We added Hungarian language only recently, so you might want to pull the latest changes and see if that works.

I believe that this is not a bug in the Sharetribe codebase, so that's why I'm closing the issue. If you find out more information or think that this is an issue

[2015-08-24 06:58] #1169 closed

[2015-08-24 08:42] rap1ds commented on #1040
As it was said in the thread you linked, you shouldn't need to add this line.

Which installation step gave you this error? Are you able to reproduce it? Can you describe the exact steps to reproduce the error. You can use the issue template: https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md Thanks!

[2015-08-24 08:48] rap1ds commented on #1318
The stack trace you posted isn't very helpful in this case.

Can you see any logs from the worker? What do you mean by "the server stops"? Does it crash or how does it stop? Freeze? Are you using S3? Have you configured S3 properly? Are you able to reproduce the issue? Can you describe the exact steps to reproduce the issue? You can use the issue template: https://raw.githubusercontent.com/sharetr

[2015-08-24 08:51] rap1ds commented on #1394
What's the value for `domain` in `config.yml`?

[2015-08-24 08:53] mparramont commented on #1192
I'm not using Sharetribe anymore, leaving this open because it looks like a real bug.

[2015-08-24 08:55] congkinh commented on #1394
Hi @rap1ds,

I used the port 80. I already tested for both domain:80 and domain (without port), the redirect_uri was the same in both cases.

[2015-08-25 09:49] math29 commented on #1405
Yes I start it with :
`bundle exec rake RAILS_ENV=production jobs:work`
after starting sphinx.

The worker do this kind of action when Sharetribe send emails :
`[Worker(host:ip-172-31-28-95 pid:27061)] Starting job worker
DEBUG Cache read: /translation_service/community/1
DEBUG Dalli::Server#connect 127.0.0.1:11211
INFO 127.0.0.1:11211 failed (count: 0)
ERROR DalliError: No server available
DEBUG

[2015-08-25 09:58] math29 commented on #1405
Ok my bad, my code was doing this.
Thanks again and really sorry about the inconvenience !

[2015-08-25 09:58] #1405 closed

[2015-08-26 04:24] svallory commented on #1390
@419371274 Did you `bundle install`?

[2015-08-30 06:36] timchunght opened #1420 "Sidekiq integration"
Hi,

Good work and I have been tracking the project since its debut. I am wondering if you guys will be considering Sidekiq as a replacement for delayjobs. Thank you.

Best,
Tim

[2015-08-31 07:48] rap1ds commented on #1420
Hi!

Replacing delayed jobs with something that is based on Redis (Resque, Sidekiq) would probably give some performance benefits, so yeah, it would be nice to replace delayed job with something faster in the future.

However, that's not in our near future roadmap. We have a lot of other stuff to do I think this change is more a "nice to have" than a "must have" thing :)

In addition, since Sideki

[2015-08-31 07:48] #1420 closed

[2015-08-31 07:49] #1150 closed

[2015-08-31 07:49] rap1ds commented on #1310
Closing this as inactive.

[2015-08-31 07:49] #1310 closed

[2015-09-01 06:21] rap1ds commented on #1375
Inactive. Closing the ticket.

[2015-09-01 06:21] #1375 closed

[2015-09-01 09:13] congkinh commented on #1394
Hi all,

I found out that this issue came from OmniAuth. Actually, I don't know how to solve it in general. But in my case, I just added the following line:
[code]
just after the line 156 in the file https://github.com/sharetribe/sharetribe/blob/master/config/application.rb.

If I were a Rails developer, I would check whether the current URL is using HTTPS or not.

[2015-09-02 08:02] 419371274 opened #1425 "`process_in_background': undefined method `[]=' for nil:NilClass (NoMethodError)"
##### Sharetribe Version:
git rev-parse HEAD
933409d23b917c3d34ffaef918c91cd6dae9e75c
##### Environment:
ubuntu14.04

##### Server mode:

either development or production mode didn't work
this exapmle i use the production mode
##### Description:
i follow  the instruction of Installation every step except for" gem install mailcatcher",the other  steps works  fine

##### Steps To Reproduce:
bundle e

[2015-09-02 08:04] rap1ds commented on #1425
Please use the Issue Template. Sheer stacktrace is not very helpful.

https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md

[2015-09-02 13:39] pdgwien commented on #889
@pablorodriguezgonzalez Hello, we're trying to implement Stripe Connect in our marketplace too, but we're outside of US and Canada, so we cannot use those. Could you tell us, how you worked around that?

Thanks!

[2015-09-03 11:29] ptzool opened #1430 "listings images disappeared on listings of people page after git pull"
Hi,

After when I updated the sharetribe (git pull), the images of listings disappeared on listings of people page.

For example:
https://porteka.com/bubilla

But when I open a listing page I see the images.

What is the problem, could anybody help me?

Regrads,

Zool

[2015-09-03 11:34] ptzool commented on #1430
Fixed: https://github.com/sharetribe/sharetribe/commit/94773c6cec0156e8bc845e79d1effa78d7407d0e

[2015-09-03 11:34] #1430 closed

[2015-09-03 18:37] rap1ds commented on #1430
Sorry about that :( Did some pretty bad commits today :(

[2015-09-04 05:31] rap1ds commented on #1425
Not enough information. Closing.

[2015-09-04 05:31] #1425 closed

[2015-09-04 05:32] rap1ds commented on #1040
Inactive. Closing.

[2015-09-04 05:32] #1040 closed

[2015-09-04 05:32] rap1ds commented on #1170
Inactive. Closing.

[2015-09-04 05:32] #1170 closed

[2015-09-04 05:32] rap1ds commented on #1318
Inactive. Closing.

[2015-09-04 05:32] #1318 closed

[2015-09-04 05:37] rap1ds commented on #1394
Hi @congkinh

This sounds interesting. It could be a bug in our code. However, I would need a little bit more information to debug this further.

Can you provide exact steps how to reproduce the issues? That would be helpful.

You can also use the Issue Template, it's here: https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md

[2015-09-04 07:57] congkinh commented on #1394
Hi @rap1ds,

The following information would be helpful for you:

##### Sharetribe Version:
8fb1611a0d561c5ac1c76e9660170d13a63e974f

##### Environment:

Debian 7 and Amazon S3

##### Server mode:

Production

##### Description:

Signing in with Facebook account always redirects to the 3000 port.

##### Steps To Reproduce:
- Used a reverse proxy (nginx) to map from HTTPS (outside) to the port 3000

[2015-09-06 09:51] likelazyeyes commented on #909
In Rails 5, Rails API will be default. Turbolinks 3.0 and others.
You must upgrade ruby version certainly. Because new rails releases will not support under ruby 2.0
An article: https://blog.engineyard.com/2015/a-look-at-rails-5

[2015-09-07 05:43] rap1ds commented on #1394
@congkinh Thanks for the information! Right now I don't have time to dig into this issue, but I'll leave the issue open since it looks like something that maybe is a bug (or at least unexpected behaviour) in the code.

[2015-09-07 07:23] ovan commented on #909
Hi all. We've given some more thought to this lately and it's been agreed that this work will start soon. The core team will handle it but we could certainly use help with testing. I still cannot give exact timeline because the work hasn't started. After we finish some bigger ongoing work items this is one is right at the top of the priority list. We'll post updates to this issue.

[2015-09-08 10:55] bingxie commented on #909
That's a very good news.

[2015-09-11 08:04] sebfie commented on #462
Hello,

I want to implement que MangoPay feature on my project, what features were supported and which one were not?

Thx

[2015-09-14 05:21] rap1ds commented on #462
@sebfie MangoPay was never finished and it was never in use in production. So in that sense, I'd say that none of it was supported at any point.

[2015-09-14 12:22] ptzool opened #1436 "Error after I updated (Fix: Add the SEO friendly listing URLs)"
Hi,

After when I updated to this commit I got an error message on merchandise profile page. https://github.com/sharetribe/sharetribe/commit/c51498cc4b4bcf6820728dc8f3a5cf101ed24b7d

Regards,

Zoli

Error message:
[code]

[2015-09-14 14:24] rap1ds commented on #1436
Sorry about that. Should be fixed now in master branch.

[2015-09-14 14:24] #1436 closed

[2015-09-15 07:34] yo-gen opened #1439 "Image upload issues"
We have set up sharetribe in development environment. But the image upload while posting or editing a listing is not working properly. It fails most of the time. I suppose it is some Paperclip issue, or , an issue with the delayed job worker.
Did anybody face this previously..?

[2015-09-16 10:06] rap1ds commented on #1439
Hi @yo-gen !

Could you elaborate a little bit more? Can you use the issue template? https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md

Are you using S3 or local filesystem? Do you have workers up and running? Does it fail always or "most of the time" (i.e. works every now and then)?

[2015-09-16 12:52] levina-duivesteijn opened #1441 "Setting up Postmark for ShareTribe in Heroku"
Firstly - thanks a lot for an amazing template! I'm a real newby to Ruby, but managed to install it last weekend thanks to your guides - much appreciated! Just dealing with the last challenges now:

I deployed sharetribe via heroku and don't get the email service working. I added postmark as a heroku add-on, filled out my config file and re-deployed. Do I need to do anything else..?

##### Version

[2015-09-18 08:22] gnomet commented on #1441
Hi!

Thanks for contacting! I haven't actually realized that the Postmark support is still in the code, as we've been using Amazon SES as our mail service for long time now. We should probably actually remove that code, as we can't easily guarantee the functionality of multiple email services. And at this moment we unfortunately don't have the resources to start debugging Postmark issues, so my re

[2015-09-18 11:35] gnomet commented on #1441
I will close the issue because it's a deprecated feature that we will remove soon. However, feel free to continue the discussion here if needed.

[2015-09-18 11:35] #1441 closed

[2015-09-20 03:53] jaceylab opened #1444 "Sharetribe css not loading in chrome"
We have just successfully installed Sharetribe 4.5.5 in Amazon AWS. The pages are loading fine in IE and Firefox and we are able to sign up and use the website. However, when we open the same site in Chrome, only text shows up and the css won't load.

When we run "inspect element" in Chrome, it shows various errors which seem to be pointing to a css file and a modernizr.js file:

Failed to load re

[2015-09-22 20:59] redhedjim commented on #909
I am interesting in lending a hand when the time comes.

[2015-09-23 18:13] JahBrewski commented on #909
Any update on this re: timeline? Talking to a client about using sharetribe.. but we're concerned about compatibility issues with Rails 3.2.

[2015-09-23 19:24] ssoulless commented on #909
Hi, anything you need just ask, Im very interested in see this working with Rails 4, even better if Rails 5

[2015-09-27 14:54] congkinh opened #1449 "Bug with deploying code on my own"
Hi,

I took code from github and deployed it on my own. However, I got something like the following image.

<img width="629" alt="screen shot 2015-09-27 at 16 51 04" src="https://cloud.githubusercontent.com/assets/1632776/10123348/f9db4d54-6537-11e5-83d3-ced9ebbe8f8b.png">

Could someone tell me how to fix this? Thanks in advance!

[2015-09-28 10:03] rap1ds commented on #1449
Hi @congkinh

You see that popup because your "plan" has expired. This is something that is related to our hosted version.

You can fix it running the following command in rails console:

[code]

That will create a "scale" plan that will not expire ever.

[2015-09-28 10:03] #1449 closed

[2015-09-28 22:26] eltonokada opened #1455 "Image uploading"
Hi,

I've just configured sharetribe in my VPS, i've did this lots of time without any issue, i followed all the instructions and my market place is up and running.
It's running in a Red Hat distribution.
Everything is running fine, i've started the take tasks with:
bundle exec rake RAILS_ENV=production ts:start
bundle exec rake jobs:work RAILS_ENV=production

But when i add any image to any listi

[2015-09-29 21:48] samuelreh opened #1457 "Expose External API"
It looks like there are several markdown files documenting a JSON REST API throughout the project:

https://github.com/sharetribe/sharetribe/blob/master/app/services/paypal_service/accounts_api.md
https://github.com/sharetribe/sharetribe/blob/master/app/services/listing_service/category_api.md
https://github.com/sharetribe/sharetribe/blob/master/app/services/listing_service/listings_api.md
https:/

[2015-09-30 05:22] rap1ds commented on #1457
Hi @samuelreh! Thanks for asking!

The APIs are (currently) internal APIs and they are not exposed to public (yet).

We are on our way to do some bigger architectural changes. Little by little, we are planning to take pieces of the Rails code and run them on a separate service. At the same time we will also expose some of these APIs to public. So the current internal APIs are only preparation for

[2015-09-30 05:22] #1457 closed

[2015-09-30 05:25] rap1ds commented on #1444
Hi! Thanks for reporting the issue. Could you give some more details about it? Have you run rake assets:precompile? Are you using Amazon S3 to host the assets? Can you attach a screenshot of the Chrome web inspector and the errors you are seeing?

[2015-09-30 05:28] rap1ds commented on #1439
More information needed. Inactive, closing.

[2015-09-30 05:28] #1439 closed

[2015-09-30 05:34] rap1ds commented on #1455
Hi @eltonokada

Are you using Amazon S3 for the images? Can you see from the Web Inspector what's the response the image status poller gets? The status poller should be doing Ajax requests frequently. How about the server logs? Does the server receive the status poller requests?

[2015-10-01 17:07] eltonokada opened #1462 "How can i use Paypal in open source version"

[2015-10-02 06:23] rap1ds commented on #1462
The hosted version uses PayPal as the payment processor. Sharetribe has negotiated a deal with PayPal that allows marketplace administrators to easily start using online payments in their marketplace.

The open source version has the same source code as the hosted version, but due to the agreement with PayPal, using the PayPal integration is not possible with the open source version. Payments in t

[2015-10-02 06:23] #1462 closed

[2015-10-02 06:24] rap1ds commented on #1462
I closed the ticket since it's not a bug in Sharetribe code, but feel free to continue discussion on this thread.

[2015-10-02 16:13] nazrulio opened #1466 "delayed_paperclip"
I have installed sharetribe and try to browse application then it shows:
 NoMethodError - undefined method `[]=' for nil:NilClass:
  delayed_paperclip (2.9.1) lib/delayed_paperclip.rb:52:in `process_in_background'
  app/models/community.rb:204:in `<class:Community>'
  app/models/community.rb:104:in `<top (required)>'
  zeus (0.15.1) lib/zeus/load_tracking.rb:50:in `load'
  activesupport (3.2.21) l

[2015-10-02 18:02] rap1ds commented on #1466
Hello!

Please provide some additional information about your environment and add exact steps how to reproduce the issue. You can use the [Issue Template](https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md)

[2015-10-02 19:01] nazrulio commented on #1466
##### Sharetribe Version: b58f578a1ebb251160f9bf1ad17c2c1e8b48c913

##### Environment: Linux Ubuntu 14.04

##### Server mode: Development

##### Description: I have followed the https://github.com/sharetribe/sharetribe instruction to setup sharetribe in development mode. After installation i run the server and it's running. But when i browse the project localhost:3000 then it shows "undefined meth

[2015-10-03 04:55] nazrulio commented on #1466
I found another solution. All process_in_background must be declared after has_attached_file

  process_in_background :logo
  process_in_background :wide_logo
  process_in_background :cover_photo
  process_in_background :small_cover_photo
  process_in_background :favicon

[2015-10-03 14:40] JahBrewski commented on #1466
Wow, thanks @nazrulio! I just had this same error.

[2015-10-03 20:30] movstox commented on #1192
Guys, when running fresh install from IP, I was able to login via Firefox. However, Chrome or Chromium doesn't work that well.

[2015-10-05 12:56] rap1ds commented on #1466
@nazrulio @JahBrewski Thanks for additional information!

I can see that your delayed_paperclip version is 2.9.1, which is not the same we have in Gemfile.lock 2.6.1. Why is that? Did you run `bundle update delayed_paperclip` or something like that?

[2015-10-05 15:42] JahBrewski commented on #1192
I'm having the same experience as @movstox -- Can login via Firefox, bug not Chrome.

[2015-10-10 07:25] ptzool opened #1482 "Image upload form is gone"
Hi,

After, when I upgraded the system the image upload form is gone.

Regards,

Zoli
![image_upload](https://cloud.githubusercontent.com/assets/350709/10409891/e2fc0b98-6f30-11e5-90ab-d16acda6e2d3.png)

[2015-10-12 05:45] rap1ds commented on #1482
Hi @ptzool

Thanks for reporing! Have you tried to recompile the stylesheet? You can trigger the stylesheet compilation by going to the Design page and changing the colors.

[2015-10-12 05:45] rap1ds commented on #1444
Inactive. Closing.

[2015-10-12 05:45] #1444 closed

[2015-10-12 05:46] rap1ds commented on #1455
Inactive. Closing.

[2015-10-12 05:46] #1455 closed

[2015-10-12 11:12] ptzool commented on #1482
Hi rap1ds,

Sorry, I don't precompile assets... Everything works.:)

Regrads,

Zoli

[2015-10-12 11:12] #1482 closed

[2015-10-12 11:20] rap1ds commented on #1482
No worries!

[2015-10-13 05:27] rap1ds commented on #1466
My guess is that the issue was due to incompatible delayed_paperclip version. I'm closing this issue, but if you have any additional information, feel free to post it to this thread.

[2015-10-13 05:27] #1466 closed

[2015-10-14 12:59] ArnisL opened #1493 "numeric_field_value_spec.rb:74 test fails"
[code]

If i change numeric_value data type to integer in migration:
20140227102627_add_numeric_value_to_custom_field_values.rb

and schema (because migrations are broken), then rebuild db and sphinx indexes -  test passes

[code]

is that a correct way to handle this?

or there could be areas where there's necessity for numeric_value to be float?

[2015-10-14 19:54] nchatu opened #1495 "Customizing the app code"
I am opening this issue to know how to extend the Sharetribe app code without changing the source files. I know there is an option in admin area to change the template using css/js but I want to modify the Sharetribe source codes in order to add extra functionality. I can do this by editing the ST codes directly but want to preserve the change done when upgrade to a greater version.

Looking at th

[2015-10-15 05:41] rap1ds commented on #1493
Hi @ArnisL

Thanks for reporting the issue!

I'm pretty sure that this is not the correct way to handle the error. We have a checkbox in the UI, "Allow decimals" for numeric custom fields, so we definitely want to keep the float type.

My guess is that the tests passed, because you rebuilt the sphinx indexes, which were probably broken for some reason and thus the search didn't return any results.

[2015-10-15 05:56] ArnisL commented on #1493
thought so...

can assure that that's untrue

during same test run - debugged and searched successfully by range on custom_field_id field

spec:
spec/models/numeric_field_value_spec.rb:74

breakpoint:
app/models/custom_field_values/numeric_field_value.rb:73

[code]

my current best bet is on "different sphinx version something something"

[2015-10-15 06:19] rap1ds commented on #1493
@ArnisL Thanks for additional information! I'll reopen the ticket. It feels that there might be something wrong.

What was the exact command you used to rebuild the index? Was it `rake ts:index`?

Btw. what's your Sphinx version? Mine is:

[code]

[2015-10-19 12:58] ArnisL commented on #1493
[code]

will upgrade sphinx and see if that helps

[2015-10-20 04:54] rap1ds commented on #1495
Hi @nchatu Thanks for asking!

Currently we don't have an easy way to add your own extension. However, we are painfully aware that this kind of plugin system is much needed by many people. We have done some planning how this could be done in the future, but nothing has yet happened.

I'm closing this issue, since it's not a bug in the Sharetribe code. However, feel free to continue discussion in t

[2015-10-20 04:54] #1495 closed

[2015-10-21 15:35] JerryChr commented on #1192
Just finished the setup and got the exact same bug - and as @movstox and @JahBrewski it also works in FireFox but not in Chrome.

[2015-10-21 23:55] ArnisL commented on #1493
upgrading sphinx did the trick

[code]

works as well with this version

[2015-10-21 23:55] #1493 closed

[2015-10-22 05:28] rap1ds commented on #1493
@ArnisL Ok! Good to know that upgrading helped! Thanks for informing about this!

[2015-10-22 08:36] FistOfTheNorthStar opened #1502 "Pressing Follow on the page of another person gives error"
The follow functionality works, but error is displayed after the follow button is pressed. I'm not sure if this is due to my configuration or an actual bug.

Request goes to domain/en/username/followers

In the development environment locally it renders:

<< @current_user 12 respond_to do |format| 13 format.html { redirect_to :back } 14 format.js { render :partial => "people/follow_button", :local

[2015-10-22 08:39] FistOfTheNorthStar commented on #1502
In the production env. it just renders in the place of the follow button, but the following functionality still works:
Page not found.

[2015-10-23 11:42] kimroen opened #1504 "gitignored files not removed"
Some files listed in `.gitignore` are not actually removed from this repository.

The list includes a few things that we actually want, I believe they were added by mistake.

Things of note are:

- `Gemfile`
- `Gemfile.lock`

Run this to stage everything that would be deleted from git:

[code]

Full list:

[code]

[2015-10-23 15:43] kimroen commented on #1504
Looks like I'm slightly wrong about the file list, or at least the cause. The map_icons are not gitignored, they are merely hidden files. They do seem to be redundant and not used though, so I think they should probably me removed. Introduced here, a long time ago: b4295076f3cb473496fe5f733fd7a2b19768b461

[2015-10-26 03:36] karibuTW commented on #1337
Hi guys,

One of my readers posted a comment on freedif.org to share this great project and to ask for a tutorial.

I've written a tutorial for Debian (Should work for Ubuntu too). Here is the link:
http://freedif.org/sharetribe-opensource-market-platform/

Hope it will work like a charm.

Thank you

[2015-10-27 06:31] ashvin-chauhan opened #1508 "Proceed to payment is not working"
I integrate paypal from backend with super user and i connect my paypal account and garnt the permission from paypal with sandbox account, but from buyer side when i click on proceed to payment there is no any output process is continuous keep going but there is no output

[2015-10-27 10:02] bipashant opened #1510 "Unable to change Cover photo under design menu"
Hello I'm unable to change image such as cover photo, Small cover photo under the ADMIN-> Design.After clicking the save setting it just display ` Stylesheet is recompiling. Please, reload the page after a while.` but nothing changes.
When I see in the database, Field is updated with new file name and Images also get uploaded in the server.
Here is the stack of log.

Delayed::Job.last.last_error

[2015-11-03 15:05] rap1ds commented on #1504
Thank you so much for reporting and fixing the issue! I guess now all the files are removed and this issue can be closed?

[2015-11-03 15:05] #1504 closed

[2015-11-03 15:08] kimroen commented on #1504
Now they are indeed :)

[2015-11-03 15:27] rap1ds commented on #1502
Hi! (and sorry for some delay)

Thanks for reporting this issue. I think that this may be a bug in the code.

Are you able to list the steps how to reproduce this? I tried to, but I couldn't.

[2015-11-03 15:28] rap1ds commented on #1508
As mentioned in the README, PayPal is not supported in the open source version. It requires a special API key and special permissions from PayPal.

[2015-11-03 15:28] #1508 closed

[2015-11-03 15:32] rap1ds commented on #1510
Hi!

The best advice I can give is to go and check that the delayed jobs and running on the background. In addition, make sure that ImageMagick is installed and working properly.

To me it sounds that this is not an issue in Sharetribe code, thus I'm going to close the ticket. It's probably an issue with your development environment.

If you find out the reason and if you have any suggestions how

[2015-11-03 15:32] #1510 closed

[2015-11-04 13:28] JarleKristiansen commented on #889
@pdgwien
I have just been in contact with stripe. And they confirm that company outside US can use Stripe Connect. Ouer payment flow is: money is put on hold/fund. 7 days after work have been done, money been paid out to provider - 10% that goes to the marketplace.

Please send me a mail. Its better for all of us if we hier the same developer company, or share the cost of implement stripe payment

[2015-11-04 13:33] pablorodriguezgonzalez commented on #889
Hello,

We can do the implementation for a low cost budget, having a lot of
experience not only in Connect but also in new Stripe features like managed
accounts (better for Sharetribe) and others.

Best.

On 4 November 2015 at 14:28, JarleKristiansen <notifications@github.com>
wrote:

[2015-11-04 13:36] JarleKristiansen commented on #889
Hi

Thanks for reaching out

Are you a developer company?

Best regards

Jarle Kristiansen

Tlf. +47 93404021

CEO

www.GOstyling.com

Fra: pablorodriguezgonzalez [mailto:notifications@github.com]
Sendt: 4. november 2015 14:34
Til: sharetribe/sharetribe
Kopi: JarleKristiansen
Emne: Re: [sharetribe] Integrating Stripe payment with Sharetribe (#889)

Hello,

We can do the implementation for a low co

[2015-11-04 13:43] JarleKristiansen commented on #889
In addition to the strip I would like geo localization

Please send me a mail if you can perform parts of tailor adjustment to the marketplace. I will give you more accurate details. Please contact me at jarle@viewinvest.no

[2015-11-04 13:43] pablorodriguezgonzalez commented on #889
Hello again,

Yes, mainly developers of Domesting, that it's a booking system for
domestic services that includes Stripe since January. We use
PayPal/Braintree too.

Best.

On 4 November 2015 at 14:36, JarleKristiansen <notifications@github.com>
wrote:

[2015-11-04 13:43] JarleKristiansen commented on #889
@pablorodriguezgonzalez

In addition to the strip I would like geo localization

Please send me a mail if you can perform parts of tailor adjustment to the marketplace. I will give you more accurate details. Please contact me at jarle@viewinvest.no

[2015-11-04 13:50] JarleKristiansen commented on #889
@pablorodriguezgonzalez
ok, I'm interested in the stripe integration to the marketplace.
I can not use Braintree, they does not alow to split payment. Can you give me an estimate of the cost of stripe integration to the marketplace?

[2015-11-04 15:28] JarleKristiansen commented on #1395
@svallory
Iam setting up a open source marketplace.
Can I hier you/get an offer from you to set up the stripe payment gateway ?
Please contact me on jarle@viewinvest.no and I can give you more details.

[2015-11-04 23:51] FistOfTheNorthStar commented on #1502
I fixed this some time ago by changing the mutual index of person_id and follower_id.

[2015-11-05 17:12] thomassnielsen commented on #1262
@eltonokada How did you fix this?

[2015-11-07 04:24] JahBrewski commented on #1375
Hmm. I'm getting this bug as well.

[2015-11-07 20:27] shakti2601 opened #1532 "how can i integrate paypal with sharetribe open source"
tell me how to do this

[2015-11-09 14:24] rap1ds commented on #1532
Hi there!

Have you already looked previously posted Issue about the subject. There are quite many issues which explain the situation and give hints how to build your own implementation, if that's what you are after:

* https://github.com/sharetribe/sharetribe/issues/1462
* https://github.com/sharetribe/sharetribe/issues/1395
* https://github.com/sharetribe/sharetribe/issues/1324
* https://github.

[2015-11-09 14:24] #1532 closed

[2015-11-09 21:48] emilnikkhah opened #1536 "Is it ok (edit: to ask question about own installation here)?"
HI
Is it ok to ask question about own installation here?
Regards
Emil

[2015-11-10 05:25] bipashant opened #1537 "Private message in Arabic language are not displaying properly."
Hello
I just installed the fresh copy of Sharetribe on local machine. Everything is working as expected.Thank you all for contributing in such a awesome marketPlace.hats off guys !!!

but one thing I found is private message are not displaying properly in the Arabic language.

here is the snapshot

![screen shot 2015-11-10 at 11 02 52 am](https://cloud.githubusercontent.com/assets/5179884/11055070

[2015-11-10 06:12] rap1ds commented on #1536
Hi @emilnikkhah

Thanks for asking!

**If you are following the installation steps and installing Sharetribe on Mac OSX or Heroku** then it's totally ok to ask question about your own installation. The core team uses Mac OSX for development and Heroku for production, so those are the "officially" supported platforms.

**If you are installing Sharetribe on Windows/Linux machine or VPS**, then, well

[2015-11-10 06:12] #1536 closed

[2015-11-10 06:20] rap1ds commented on #1537
Hi @bipashant !

Thanks for reporting the issue!

Unfortunately, the current version of Sharetribe doesn't have a good support for right-to-left languages. This is something that we will not fix for the current version, since it would require a lot of work to the front-end code.

We have already plans to rebuild the front-end code. When this happens, we will keep RTL support in mind.

[2015-11-10 06:31] bipashant commented on #1537
@rap1ds
thanks for quick review
I really appreciates your effort.
You guys are awesome. :)

[2015-11-10 08:00] #1537 closed

[2015-11-10 09:14] emilnikkhah opened #1539 "possible to have two currency´s?"
Is that possible to have two currency´s that you can chose from when adding your add, this is not for the Cloud version. regards

[2015-11-10 22:55] #1539 closed

[2015-11-12 07:15] #1502 closed

[2015-11-16 05:14] bipashant opened #1547 "undefined method `countries' for CountrySelect:Module"
Hi,
I'm setting up fresh copy of sharetribe in my local machines. everything works fine but got the following error. I've done `bundle install` and followed every step as in provided documentation here.

NoMethodError - undefined method `countries' for CountrySelect:Module:
  app/utils/localization_utils.rb:7:in `country_code_valid?'
  app/utils/localization_utils.rb:15:in `valid_country_code'
  a

[2015-11-17 06:42] rap1ds commented on #1547
Hi @bipashant

Thanks for reporting the issue!

What's your `country_select` gem version number in Gemfile.lock?

[2015-11-17 06:59] bipashant commented on #1547
I've `country_select (2.5.1)` in my Gemfile.lock

[2015-11-17 08:31] rap1ds commented on #1547
I'm not able to reproduce this. I had slightly older version of CountrySelect installed, but after updating to 2.5.1, I'm still unable to reproduce this.

Are you able to give me any additional information which would help me to reproduce the issue?

[2015-11-17 11:06] bipashant commented on #1547
I'm choosing country name 'Nepal' while creating market place. After this when I tried to visit home page It throws above error.

This line is from *sharetribe/app/utils/localization_utils.rb*
Error occurred in
[code]
So for hotfix I commented all the line within this function and directly return true as below.I know this is not the solution.I'm not sure is this cause any effect to other module of

[2015-11-20 01:18] manishkongari commented on #1455
Processing Uploaded Image   does not display image in development

[2015-11-20 01:23] manishkongari opened #1559 "Processing Uploaded Image"
It is displaying "Processing Uploaded Image " for like ever
does not display image in development
am not using
#gem 'asset_sync'
#gem 'aws-sdk-v1'
#gem 'aws-sdk', '~> 2'

commented in application.rb
   if (APP_CONFIG.s3_bucket_name && APP_CONFIG.aws_access_key_id && APP_CONFIG.aws_secret_access_key)
     paperclip_options.merge!({
       :path => "images/:class/:attachment/:id/:style/:filename",

[2015-11-20 07:33] rap1ds commented on #1559
Do you have a worker process running? `rake jobs:work`

[2015-11-20 15:10] manishkongari commented on #1559
Thanks rap1ds, it helped but how do i run `bundle exec rake RAILS_ENV=production jobs:work ` as daemon.

[2015-11-20 15:46] manishkongari commented on #1559
paperclip works only when rake jobs:work is also made to run on other tab of terminal

[2015-11-20 16:49] manishkongari commented on #1559
i resolved with this `RAILS_ENV=production bundle exec script/delayed_job start`

[2015-11-20 16:52] manishkongari commented on #1559
I am running this on shared kernal VPS .i also have a shared web hosting with that daemonize is not allowed can i run share tribe on that server ?

[2015-11-20 19:34] jakoberr opened #1562 "Can't install sharetribe at step 7. of installation instructions"
I can't successfully setup sharetribe (just trying to do this for development purposes on OS X El Capitan) at step 7 in the installation instructions (namely: bundle rake exec db:schema:load).

I get the following error message(s):

This is basically what is given out from the terminal:

/Users/NeuerBenutzer/.rvm/gems/ruby-2.1.2/gems/activerecord-3.2.21/lib/active_record/schema.rb:50:in `instance_

[2015-11-22 12:35] manishkongari opened #1563 "Is it possible to remove delayed job and make to work as normal on my application"
Is it possible to remove delayed job and make to work as normal on my application as my shared web hosting site5 does not allow daemonize

[2015-11-22 21:08] 3lackRos3 opened #1564 "Cover, logo image upload are not being processed"
Logo upload from the admin fails at the backend. I'm using the application in production mode - Ubuntu(AWS) with Unicorn and Nginx. I have followed all these steps from https://github.com/sharetribe/sharetribe#setting-up-sharetribe-for-production. Also unable to change the color scheme from admin but they get updated in the admin dashboard.

[code]

[2015-11-22 21:20] 3lackRos3 commented on #1564
Magnific popup works fine in the app

[2015-11-23 07:02] rap1ds commented on #1559
In order to run Sharetribe properly you have to be able to run at least 1 background job worker. We have some time consuming operations (e.g. image processing) that we definitely do not want to do during the HTTP request cycle, so that's why the background worker is required.

I'm closing this issue since it's not a bug in Sharetribe codebase.

[2015-11-23 07:02] #1559 closed

[2015-11-23 07:02] rap1ds commented on #1563
In order to run Sharetribe properly you have to be able to run at least 1 background job worker. We have some time consuming operations (e.g. image processing) that we definitely do not want to do during the HTTP request cycle, so that's why the background worker is required.

[2015-11-23 07:02] #1563 closed

[2015-11-23 07:08] rap1ds commented on #1564
Sharetribe doesn't have magnific popup plugin, I guess you have added that?

It seems that the CSS compiler that is compiling the custom CSS for you marketplace can not find some file related to the magnific popup.

I'm closing this issue because it seems that the magnific popup is the issue here, and Sharetribe doesn't have that.

[2015-11-23 07:08] #1564 closed

[2015-11-23 07:20] rap1ds commented on #1562
@jakoberr Thanks for reporting the issue!

What's your MySQL version? I'm guessing that it's 5.7+, can you confirm that?

From MySQL 5.7 Changelog:

http://dev.mysql.com/doc/relnotes/mysql/5.7/en/news-5-7-3.html

[code]

[2015-11-23 07:23] rap1ds commented on #1562
See also https://github.com/rails/rails/pull/13247

[2015-11-23 07:31] rap1ds commented on #1547
I'm still unable to reproduce this issue. I created a new marketplace with Nepal as a country, created a new listings and everything worked fine. If you are able to give me a steps to reproduce the issue that would be great.

I'm closing this issue now because I don't know how to move this forward without being able to reproduce the issue. Feel free to post here any additional information.

[2015-11-23 07:31] #1547 closed

[2015-11-23 14:43] jakoberr commented on #1562
@rap1ds Thank you for your quick answer :)

MySQL version is 5.6.27, for osx10.11 (x86_64), I've already tried to fix around with the patch mentioned in the thread, you've linked to.
This changes the error from the above mentioned statement to:

(Also tried the variations, mentioned in the thread, you've linked to, e.g. AbstractMysqlAdapter instead of MysqlAdapter, but none of them worked)

[2015-11-25 11:21] bipashant opened #1566 "HTTPS protocol missing on new message email"
Hello,
I've a fresh copy of sharetribe on production server.I installed SSL certificates to use https rather than http.
Everything is working fine, but When buyer send the message to seller during transaction, I'm receiving email containing the View message link but link is without `https`.
I'm sure I've followed all the process during installation as in documentation and more importantly https://

[2015-11-27 07:14] rap1ds commented on #1566
@bipashant Thanks for reporting the issue!

This looks something that is probably a bug in the code.

Btw. instead of modifying the `config.default.yml` file, I'd suggest you to add a new file `config.yml`. This file overrides settings in `config.default.yml` values.

[2015-11-27 09:33] bipashant commented on #1566
Thanks a lot @rap1ds

[2015-11-27 11:04] bipashant commented on #1566
Hope You guys have a quick fix it. It's really both urgent and  important for me. Would you please suggest me some solution If there is any quick hack, so that I don't need to hardcode every url in the link.
Or Is it will be the possible solution using  @community.full_url method instead of @community.full_domain in mailers parts?

[2015-11-27 13:12] bipashant opened #1568 "Images are not receiving from s3 bucket"
Hi
I've a fresh copy of sharetribe on my ec2 production server.Everything is working fine but while using s3 credentials for uploading images.
I followed the instruction as mentioned here https://github.com/sharetribe/sharetribe/issues/665 .
While creating a listing images are get uploaded in the s3 but while displaying thumbnail I'm getting following error.

[code]

I've added in my config.yml fi

[2015-11-27 21:37] artemas opened #1569 "Update fog gem"
https://github.com/fog/fog/pull/2473

[2015-11-30 06:36] rap1ds commented on #1568
Hi @bipashant

Thanks for asking! This isn't very well documented in the installation instructions (but it should be!)

The file uploader works so that it sends the images directly from browser to S3. For this purpose, we have another S3 bucket, the upload bucket. The upload bucket should have CORS settings that allow anyone to write to that bucket, and we have also set 14 days expiration to that

[2015-11-30 06:37] rap1ds commented on #1569
Thanks for reporting!

[2015-11-30 08:35] bipashant commented on #1568
Sorry, I didn't got it clearly. So what is the difference between `s3_bucket_name` and `s3_upload_bucket_name `. Do I need to create separate bucket for `s3_upload_bucket_name ` ?I've setupped CORS setting for `s3_bucket_name` .

[2015-11-30 17:54] rap1ds commented on #1568
`s3_bucket_name` is the name of the S3 bucket that we use to actually store data. `s3_upload_bucket_name` is the name of the S3 bucket that is used to temporarily store uploaded images. This bucket has looser security settings (the CORS settings that allow anyone to write to the bucket) and 14 day expiration time.

So yep, you should have two separate buckets.

[2015-11-30 20:48] Amerlander commented on #1192
I have the same problem. But in Chrome and Firefox as well.

The server shows an CSRF-Tokken-Error:

[code]

[2015-12-01 04:19] bipashant commented on #1568
Okay, Thanks a lot. I'll do as you suggested.

[2015-12-01 04:38] bipashant commented on #1192
I felt the same issues many times. I need to use incognito mode to solve this but even it doesn't works some time

[2015-12-01 07:39] #1569 closed

[2015-12-01 07:55] rap1ds commented on #1192
@Amerlander @bipashant Thanks for reporting! To make it easier to debug, could you please tell me:

1. What's the host of the server you using (for @Amerlander I can see that it's nutzername.rasalhague.uberspace.de, what's yours @bipashant ?)
2. What's the value of the `domain` configuration in `config.yml`?
3. What's the value of `ident` and `domain` in `communities` table for the marketplace you

[2015-12-01 17:32] voyera commented on #1566
This is a bit of a "hack" but couldn't you instruct your web server to redirect any http traffic to https ? This issue would now become a bit of a non-issue.

[2015-12-01 18:09] Amerlander commented on #1192
Hey, thank you for reply!

1. yes, its nutzername.rasalhague.uberspace.de (in fact the first part is different, but its my username, so I replaced it)
2. `domain: "nutzername.rasalhague.uberspace.de"`
3. ident is `handcrafted-life-holidays` and domain is `nutzername.rasalhague.uberspace.de`

I wasnt able to reproduce it on my VirtualMachine till now, there it works all the time.
But on Uberspace I

[2015-12-01 21:04] voyera commented on #909
I would be interested in having a look at it. Do you guys plan to have a rails4 branch ? I'm sure some of us could help your team.

[2015-12-02 04:40] eserica commented on #1568
@rap1ds  i have created two bucket and used there name one for s3_bucket and another for s3_upload_bucket.i have edited CORS too,still i m not able to upload image,upload % is only 0.
Please do help me,Thank you

[2015-12-02 06:40] bipashant commented on #1566
Ya, You right,I'm doing same thing, but my concern is my client is for asking https link in their email.

[2015-12-05 11:22] vbklv opened #1586 "ArgumentError - Missing mandatory value in marketplace_router.rb"
I am getting this error in production environment:

ArgumentError: Error(s) in /data/gocampin/releases/20151203115916/app/utils/marketplace_router.rb:58:in `create_request': host: Missing mandatory value.

It usually happens after several deploys.
But I am still not sure of the pattern.

[2015-12-06 18:41] sunny2601 opened #1587 "Add seller transaction fee"
Hi all,
I want to add a functionality in my sytem where a seller and a buyer of a product registered with a mrketplace should pay commision (transaction fee) to the system admin
Please suggest an aaproach to achive this functionality on sharetribe

Thanks And Regrads
Shakti

[2015-12-08 07:41] rap1ds commented on #1586
Hi @vbklv!

Thanks for reporting the issue!

Can you please give us some additional information to make the debugging easier: What's the environment your running your marketplace? Is it Heroku or something else? What's the URL and domain? Are you able to list steps that will reproduce the issue?

[2015-12-08 07:49] rap1ds commented on #1587
Hi @sunny2601 !

Sounds somewhat difficult task to do! From the top of my head I can not give you a very comprehensive answer. Giving such answer would require significant design work and investigations.

PaypalService is responsible for making the commission payment. In addition to that, you should probably change the way how TransactionService works. So have a look at those modules, maybe they'l

[2015-12-08 07:49] #1587 closed

[2015-12-08 21:51] ptzool opened #1592 "rake assets:precompile fail after upgrade"
Hi,

When I updated I would like to regenerate assets but I got thi serror messages:

[code]

[2015-12-09 07:46] rap1ds commented on #1592
@ptzool Thanks for reporting!

We updated the fog gem a week ago and I strongly suspect that it's the reason for this issue: https://github.com/sharetribe/sharetribe/commit/e7010ac79e7e1a36d7a232b461d2be95d2028012

[2015-12-12 07:05] chingjubb opened #1597 "Bundle install not successful?? #include <openssl/ssl.h> errors"
Hi, I don't know where to ask the question regarding installation, so here it is:

I'm using Macbook pro 13" latest Yosemite, here's the when bundle install:
Please help, thanks!

Building native extensions.  This could take a while...
ERROR:  Error installing eventmachine:
	ERROR: Failed to build gem native extension.

    /Users/bb/.rvm/rubies/ruby-2.1.2/bin/ruby extconf.rb
checking for rb_trap_

[2015-12-12 22:45] jakoberr commented on #1562
Solved this issue with installing MySQL 5.7 and fixing the abstract_mysql_adapter.rb in my active-record-3.2.21 folder.

Changed this:

To this:

Not completely finished with the installation, but this particular issue is solved now.

[2015-12-12 22:45] #1562 closed

[2015-12-13 07:40] shoaibmalik786 opened #1598 "Braintree Integration issue"
I need a help
i am trying to integrate braintree in my marketplace
but buyers are not able to see buy button, instead they can see request button and two datetime fields
and when they click on request they are redirected to the the transaction message page
no payment option is available.
please help what do i need to do?

Thanks

[2015-12-14 09:59] rap1ds commented on #1597
Hi @chingjubb ! Thanks for asking.

To be honest, I have no idea why this happens. We haven't seen or heard about this before.

Can you run `bundle install` in any other project?

I strongly suspect that this is not a bug in Sharetribe codebase, instead this is probably something related to your environment. That's why I'm closing the issue, but feel free to continue the discussion on this thread.

[2015-12-14 09:59] #1597 closed

[2015-12-14 16:21] chingjubb commented on #1597
I can build my other projects in Rails,
only this one, I can’t build both on my Mac OS X and Windows 7,

 is it really the only time that you know about this issues??

and weird why does Ruby code has anything to do with #include <openssl/ssh.h> that’s C?

[2015-12-14 16:27] rap1ds commented on #1597
What's the gem that fails to install? What are the lines before `Building native extensions. This could take a while...` ?

[2015-12-15 01:33] ghost6p commented on #1598
I have the same issue.

Thanks in advance to whoever knows the solution.

[2015-12-15 04:54] bipashant opened #1601 "Using Paypal API calling account as receiver"
Hello, I'm trying to integrate Paypal in sharetribe. I've changed existing `BillingType`: `ChannelInitiatedBilling`  to `MerchantInitiatedBillingSingleAgreement` and run the following command in the console to enable `Payments` menu under the Settings.

[code]

Then I added my API credentials in the `config.yml`  and added my own checkout method in controller. I'm trying to integrate `adaptive che

[2015-12-16 16:16] snobeaver commented on #1597
I've also just attempted a 'bundle install' and am having the same issue. My other rails projects, on v4.x, all bundle install okay.

I get the following from bundle install:
- An error occurred while installing eventmachine (1.0.3), and Bundler cannot continue.
- Make sure that `gem install eventmachine -v '1.0.3'` succeeds before bundling.

I then attempt to install the gem and get the following

[2015-12-16 17:11] shoaibmalik786 commented on #1598
Any response???

[2015-12-17 07:03] rap1ds commented on #909
Good news! We are finally working on this! Thanks for you patience.

Past few days I have been upgrading to some gems to Rails 4 compatible versions and that's now done and merged to master branch. At the moment I'm changing the code parts where we are using features that have been removed from Rails 4. I'll try to merge all these changes in small pieces to master as often as possible. I'm trying

[2015-12-17 07:15] rap1ds commented on #1598
Thanks for your question!

I'd have a look at the `transaction_processes` table. Make sure that the `listing_share` (a.k.a order type) is using a TransactionProcess that has a value `preauthorize` instead of `none`.

I hope that helps!

A word of warning about Braintree support: Braintree support is something that will be probably removed at some point (or reimplemented), but I'm pretty sure it wi

[2015-12-17 07:32] rap1ds commented on #1597
Nice! Thanks @snobeaver for posting the fix!

@chingjubb can you try the fix and if it works, close the issue?

[2015-12-17 07:34] rap1ds commented on #1598
I'm closing this issue now, because the core team is currently not concentrating on Braintree. If there's an issue in the code and you are able to fix it, we'll happy to review a Pull Request!

Feel free to continue the discussion in this thread even though the issue is closed.

[2015-12-17 07:34] #1598 closed

[2015-12-17 16:24] eltonokada commented on #1262
It was a problem in Digital Ocean about closed ports

[2015-12-18 16:59] thonythony opened #1613 "Braintree configuration fail"
##### Sharetribe Version:

a07dfdcf0340c29ff4d2123e7ffab0a56b88ff6b

##### Environment:

_debian_

##### Server mode:

_production mode_

##### Description:

_Following the instructions from README.md, I can't configure the braintree gateways_

##### Steps To Reproduce:

_I create a new row in the table sharetribe_production.payment_gateways with the following data : community_id (1), braintree_en

[2015-12-23 16:07] blacktea3937 opened #1619 "which version of Rails of Sharetribe is compatible with?"
Hi, just want to find out which version of Rails of Sharetribe is compatible with?

thanks!

[2015-12-23 16:19] voyera commented on #1619
From the gemfile...

ruby '2.1.2'
gem 'rails', '3.2.21'

But I do know they are working on a version compatible with Rails 4 :)

[2015-12-24 03:33] blacktea3937 commented on #1619
i see. Thank you @voyera

[2015-12-25 18:38] #1601 closed

[2015-12-27 15:07] thiyagarajan commented on #1192
Hey, My website is http://www.mistersafer.com/ and login not working in Chrome but working fine in FireFix.

help appreciated

[2015-12-28 03:17] blacktea3937 commented on #1192
facing the same issue here. Login in chrome always fails.

[2015-12-28 07:11] rap1ds commented on #1192
@thiyagarajan @blacktea3937 Make sure you are using a host name, not an IP, and that the host name you use matches your configurations (the domain value in the config.yml). If you use an IP address (as @thiyagarajan is doing) the login will fail.

[2015-12-28 07:17] #1619 closed

[2015-12-28 07:48] blacktea3937 commented on #1192
Thanks @rap1ds , but if this is the case, does it mean that during the process of development, if the IP is not assigned a hostname, there is no way to test the login functions?

[2015-12-29 12:19] thonythony commented on #1613
I still have this issue... Anyone can help me please ?

[2015-12-29 13:41] #909 closed

[2016-01-05 10:07] bipashant opened #1632 "No jobs are added in the database"
Hi
I'm having problem with delayed jobs.Let me explain the scenario,

I've deployed sharetribe on three different server.One is Integration, one for Staging and other for Production. Production is existing server, and is live since 4 months.Now I want to have different server for Staging and Integration but with same existing data as in production.So I dumped database from production and imported

[2016-01-06 15:43] aivils commented on #1192
I have same issue. I add single line in the /etc/hosts

[code]

and i add according line in the config.yml

[code]

I test my site on localhost and it works when i access site via sharetribe.me:3000. Dot in the domain name is crucial!!!

@blacktea3937 and others  can replace IP address in /etc/hosts with right one. 127.0.0.1 is just a special case. Any IP can be used.

[2016-01-07 10:49] #1568 closed

[2016-01-07 10:54] emilnikkhah opened #1633 "SEO"
Hi
I have a question about the SEO. I have been having a site live in 4 month now and still dont show up on google.
How is the SEO working with this?
Thanks

[2016-01-11 17:18] eltonokada commented on #1547
I am having the same problem here,

My marketplace is Taiwan as a country... same error.

[2016-01-11 17:19] eltonokada commented on #1547
I tried with versions of country_select gem, 2.5.1 and 1.2.0

[2016-01-12 08:01] drorm opened #1637 "Karma Based Marketplace"
I installed Sharetribe (Good installation instructions), and am trying different options.

I'd like to create a marketplace where people can trade their used cloths and other items based on karma. This would be similar to stackoverflow where you accrue Karma points for answering questions except that your Karma would increase the more things or services you give away and decrease as you get things

[2016-01-13 18:05] eltonokada opened #1639 "Routes error - Rails 4 version"
I've just installed a fresh copy of sharetribe, i've done this more than 10 times, and now with the Rails 4 version i am getting this message:

"Message from application: You should not use the `match` method in your router without specifying an HTTP method.
If you want to expose your action to both GET and POST, add `via: [:get, :post]` option.
If you want to expose your action to GET, use `get`

[2016-01-13 18:43] bipashant commented on #1633
@emilnikkhah, I think you're correct :)
The best forum for this kind of questions is our Flowdock chat(https://www.flowdock.com/invitations/de227bdbe48d24c31a6b749933d3b4eca82e307c), however :)

[2016-01-13 21:04] emilnikkhah commented on #1633
Thanks

[2016-01-13 21:04] #1633 closed

[2016-01-15 13:28] vbklv commented on #1586
It is running on an "EngineYard on AWS" T2.Micro instance.
The EngineYard stack is updated to the latest version.
The last merge I made from ST master was with 053f53a.
I cannot reproduce the issue, but I can see it in AirBrake.
It has been occuring in app/utils/entity_utils.rb:370
The strangest thing is that the URL, where the issue occurred, is shown as: http:///
AirBrake also says it occurred o

[2016-01-17 21:39] brakon commented on #1613
anyone?

[2016-01-17 22:02] brakon opened #1646 "Braintree configuration missing/broken"
While running sharetribe I wanted to enable Braintree payments, which in the documentation it mentions it just needs to have the Braintree merchant_id, master_merchant_id, public_key, private_key and client_side_encryption_key.

But it seems this is not the case, since the payment configuration doesnt display in the admin ui when this data is added.

By checking the queries being done by the appli

[2016-01-18 01:26] kikyou0797 opened #1647 "Cannot load to the main page(500 Internal Server Error)"
I am trying to deploy Sharetribe on aws(with RDS and S3), and set everything by following this tutorial.
http://www.pequi.eu/installation-de-sharetribe-sur-amazon-web-services-aws-etape-1-configuration-daws/

Everything worked fine during the configuration, and set up page showed up with no problem.
But after clicking the save changes button,  500 Internal Server Error and such log came out.

Coul

[2016-01-18 07:57] brakon commented on #1613
You need to set the payment_gateways.type column to be "BraintreePaymentGateway"

[2016-01-18 09:22] brakon commented on #1646
Seems the initial account is not even marked as "is_admin" and I had to update the database manually.

Either way, products on the site still have a "buy" button that doesnt send them to a checkout page, but instead a "message" page

[2016-01-19 07:56] rap1ds commented on #1613
Hi @thonythony and sorry for late response.

Did you try changing the payment_gateways.type column as @brakon suggested?

Last time when I checked (and that was long ago) the master merchant id was shown in the Braintree dashboard.

We don't currently offer Braintree for our sharetribe.com hosted solution customers and we may remove (on completely rewrite) the Braintree support in the future.

[2016-01-19 08:06] rap1ds commented on #1586
Thanks for additional information!

There indeed seems to be something wrong with the URL. The URL is `http:///` is probably the reason why the `host` is `nil` and why you get the `Missing mandatory value` error.

It's very hard to guess where the issue is but it's probably somehow related to your DNS/Proxy/etc configurations.

To me it looks that this is not an error in Sharetribe codebase. Since

[2016-01-19 08:06] #1586 closed

[2016-01-19 08:13] rap1ds commented on #1632
Hi, sorry for late response.

Are you using S3 to host your images? Are you sharing the same S3 bucket with your production, integration and staging servers? Are you using the same database for production, integration and staging, or just the same data dump but different database servers?

[2016-01-19 08:19] rap1ds commented on #1637
Hi!

Currently we don't support karma based marketplaces, so yes, you need to build this with some custom code.

Our main focus is on adding new payment gateways (in addition to Braintree and PayPal). Karma/virtual money marketplaces are not in our roadmap right now. However, every now and then people ask about this, so it's possible that someday we'll implement it.

[2016-01-19 08:19] #1637 closed

[2016-01-19 08:24] rap1ds commented on #1639
Hi @eltonokada Thanks for reporting the issue. Indeed, this looks like Rails 4 issue.

Can you give me exact steps how to reproduce the issue with a fresh installation?

[2016-01-19 08:30] rap1ds commented on #1646
Hi @brakon

Order types are not supported with Braintree. That's why there's no order types tab showing.

Have a look at your `transaction_processes` table. You should see there a process `none`. `none` marks for non-monetary transaction. In addition to that, you should add another row with `process` `preauthorize`. After that you need to change your `listing_shapes` table to use the newly created

[2016-01-19 08:38] ivanproskuryakov opened #1651 "bundle exec rake db:schema:load - throws error"
[code]
throws the following
[code]

[2016-01-19 08:45] rap1ds commented on #1647
Hi, thanks for reporting the issue! This feels like a bug in codebase.

You are seeing the error because there's no Chinese (zh) translations for the marketplace name.

Could you post exact steps how to reproduce the issue? How did you ended up in the situation where the translation is missing?

[2016-01-19 08:47] rap1ds commented on #1651
Hi! Thanks for reporting the issue.

Could you please use the issue template? That would help us a lot to understand the issue. Thanks!

https://raw.githubusercontent.com/sharetribe/sharetribe/master/ISSUE_TEMPLATE.md

[2016-01-19 08:48] rap1ds commented on #1394
Closing as inactive

[2016-01-19 08:48] #1394 closed

[2016-01-19 10:59] kikyou0797 commented on #1647
Thank you for the reply!
I configured the environment in AWS, and entered the set up page. Then selected Chinese in the marketplace language. Click save change and the error came out.

Now I reset the server and try to configure the server one more time.  Wish everything goes fine when I select English as my default language.

[2016-01-19 12:02] thonythony commented on #1613
After searching for a long time, I found some issues in the sharetribe repo about the removal of Braintree support. So I given up this solution.
Thank you @brakon for your help and thank you @rap1ds for your reply.
I close this issue.

[2016-01-19 12:02] #1613 closed

[2016-01-19 17:33] rap1ds opened #1657 "Quick survey: Which payment gateway do you use?"
Hi all Sharetribe Open Source users!

This is a quick survey to get some idea about the popularity of different payment gateways.

**1) Which payment gateway do you use?**

  a) None
  b) Braintree
  c) You have implemented integration to some other gateway, which one?

**2) In ideal world, which payment gateway would you like to use?**

Thanks for your answer!

Mikko,
Sharetribe

[2016-01-20 00:16] woto commented on #1192
Confirming, got same issue with login until has added correct lines in /etc/hosts

[2016-01-20 01:45] kikyou0797 commented on #1647
It works when I reset the language to EN then.  I can access my site now!
Cheers!

I need it to be in JP after all though, it is really a great first step for me.

[2016-01-20 04:50] brakon commented on #1646
thanks @rap1ds I tried what you mentioned but still the buy button sends me to a message screen.

When I access my account it does say
{code}
"Your payout details
Account status: pending
Your account is pending for approval. "
{code}

I would think this is the reason my sample product doesn't go to a checkout page (since I created the product before enabling braintree).

Is the account approval do

[2016-01-20 06:51] rap1ds commented on #1647
Ok, good to know, so apparently there's a bug with Chinese.

[2016-01-20 06:55] rap1ds commented on #1192
Instead of adding the host to /etc/hosts, you can also use the domain http://lvh.me:3000 as suggested in the installation instructions.

lvh.me redirects to localhost

[2016-01-20 06:57] rap1ds commented on #1646
Yep, exactly as you said. Approval is done by Braintree and sent to the webhook. Sandbox is fine for testing.

[2016-01-20 07:34] bipashant commented on #1632
Yes, I'm having the same exact code in all environment.I'm using different DB server for different environment.

[2016-01-20 07:43] bipashant commented on #1657
Hi Mikko,
I'm a freelancer working more than 1 year in customizing the sharetribe.Most of the jobs I've done is adding the Paypal as Payment Gateway.

With Best regards,
Bibek Sharma

[2016-01-20 08:12] williamrussellajb commented on #1562
This fixed it for me as well.
:primary_key => "int(11) auto_increment PRIMARY KEY",

[2016-01-20 11:54] FistOfTheNorthStar commented on #1657
1. Braintree
2. Gold coins, no but seriously they all have their goods and bads.

[2016-01-21 05:33] brakon commented on #1646
I configured the webhook in braintree and its working now :) I can create test accounts, and post "billable"  test items.

Thanks for the help!

This would be useful in the documentation, I could send a MR with the additions to the documentation.

[2016-01-21 07:36] rap1ds commented on #1646
@brakon Good to hear that you got it working!

If you are able to send a PR that adds instructions to README, that would be awesome!

[2016-01-21 07:36] #1646 closed

[2016-01-21 07:53] valdis opened #1660 "#<ThreadError: deadlock; recursive locking> when running the app on puma 2.15.3"
Hi

We have deployed sharetribe to a server running:
ubuntu 14.04
ruby 2.1.2p95

Randomly the server goes into deadlock, I assume the cause might be the use of Mutex'es in UUID Tools, but i'm not sure on how it can be resolved.

The following is the output from puma's web-1.log

[code]

[2016-01-21 07:56] rap1ds commented on #1660
Hi there!

Thanks for reporting the issue.

Currently we are not able to guarantee thread-safety, so we do not recommend running Sharetribe on a threaded server such as Puma. We are using Phusion Passanger and we recommend using that.

[2016-01-21 07:56] #1660 closed

[2016-01-21 08:05] rap1ds commented on #1632
Based on the "Image Uploading Failed" error message, it feels to me that the uploading it self has failed for some reason. It might be that it's not yet in the phase where delayed job description is created but the uploading has failed before. One thing I would do at least is to double check your S3 configurations. Are you able to save any other images, such as profile image?

[2016-01-21 08:21] bipashant commented on #1632
No I'm not able to upload any images.Okay, I'm closing this issue now.Seems it is something wrong from side. Thank you very much for your time. Yes to Brotherhood :+1:

[2016-01-21 08:21] #1632 closed

[2016-01-21 14:28] Clem-J commented on #1657
I have implemented Lemonway getway

[2016-01-23 14:43] eltonokada commented on #1639
i've installed in Digital Ocean VPS Ubuntu

I've just follow the installation guide, clone the code install all the gems and etc
https://github.com/sharetribe/sharetribe#installation

[2016-01-25 00:50] santiagogsanchez commented on #1657
1. None.
2. PayPal

[2016-01-28 19:01] eltonokada opened #1680 "Mercury Editor not working"
I am not able to edit any page that is using the mercury editor.
I am not using the Rails 4.1 version as it has lots of bugs.

[2016-01-29 07:36] rap1ds commented on #1680
Hi! Thanks for reporting the issue!

Could you tell me a bit more about the issue? I tried it on my local machine and didn't see any issue. Also, the Mercury editor works fine on sharetribe.com.

Could provide clear, exact and precise steps how to reproduce the issue. We are not able to provide any help if we are not able to reproduce it ourselves.

Rails 4.1 is still in an unmerged branch #1678 .

[2016-01-29 19:31] eltonokada commented on #1680
Hi, thanks for the answer and for testing.
I've uploaded the code from commit: 1b0ee57784bf371b9d1f64306c85f21b4fca7016 to a server in Digital Ocean, followed the instructions to install the marketplace, and when i try to edit About page the editor is not loading, just reloading the page.

In production i am not seeing any error in console, but in dev yes:

WebSocket connection to 'ws://warmshoppi

[2016-01-29 19:36] eltonokada commented on #1680
Sorry, just found the error, was in my code

[2016-01-29 19:36] #1680 closed

[2016-01-31 10:10] kikyou0797 opened #1685 "utf8mb4 support"
I'd like sharetribe to support JP or CN by using utf8mb4,
I set a parameter group in aws rds and make all default setting is utf8mb4

and then I ran the " rake RAILS_ENV=production db:schema:load"

error following came out.
---
Mysql2::Error: Index column size too large. The maximum column size is 767 bytes.: CREATE UNIQUE INDEX `index_auth_tokens_on_token` USING btree ON `auth_tokens` (`token`)
-

[2016-02-01 04:24] brakon commented on #804
It started working for me once I ran this before the db:migrate script
`bundle exec rake db:schema:load`

[2016-02-01 08:01] rap1ds commented on #1680
Good that you found the reason.

[2016-02-01 08:03] rap1ds commented on #1685
Hi @kikyou0797 and thanks for the suggestion! This is something we plan to implement quite soon. It needs some migrations to the database but otherwise it should be too big thing to do.

I'll close the issue since this is not a bug in the Sharetribe code. Feel free to continue the discussion in this thread.

[2016-02-01 08:03] #1685 closed

[2016-02-02 02:37] indy-guide commented on #1559
I have the same issue, but don't know how to solve it. I use Amazon's AWS.

[2016-02-02 02:37] indy-guide commented on #1559
@manishkongari can you help me? Thank you!

[2016-02-02 06:34] brakon commented on #1657
Braintree!

[2016-02-05 04:50] tee-vee opened #1706 "assets not loading, request_uuid ..."
Hi,

- running sharetribe on linux / mysql
- RAILS_ENV=production
  (did not set up development/test instance on this box)

- sharetribe starts perfectly fine and pages load okay except my favorite logo (top left) and font-awesome assets don't load (search magnifying glass?)
- I'm fully aware that serving static content / assets off ruby/rails is a bad idea; i'll fix this later.
  (Would appreciat

[2016-02-10 17:47] priviterag opened #1724 "Email confirmation error on staging environment"
I'm trying to deploy on a staging server (e.g. staging.domain.com) and I get an error when I register:
[code]
after further investigation, it seems that the community is nil. What is the recommended way to deploy using the subdomain to identify the environment and not the community?

[2016-02-11 02:52] top1select opened #1725 "Rails server is running, but cannot connect through 3000"
Hello,

I was unable to start development environment anymore, production is no problem.

  `bundle exec rails server`

seems to be starting fine:

`[root@ip sharetribe]# bundle exec rails server
=> Booting WEBrick
=> Rails 4.2.5.1 application starting in development on http://localhost:3000
=> Run `rails server -h` for more startup options
=> Ctrl-C to shutdown server
[2016-02-10 21:39:02] INFO

[2016-02-11 02:56] michelboaventura commented on #1725
What is the output of ```ping localhost```?

And ```netstat -a | grep 3000``` (with the server running)?

[2016-02-11 03:37] top1select commented on #1725
ping localhost
PING localhost (127.0.0.1) 56(84) bytes of data.
64 bytes from localhost (127.0.0.1): icmp_seq=1 ttl=64 time=0.018 ms
64 bytes from localhost (127.0.0.1): icmp_seq=2 ttl=64 time=0.029 ms
64 bytes from localhost (127.0.0.1): icmp_seq=3 ttl=64 time=0.029 ms
64 bytes from localhost (127.0.0.1): icmp_seq=4 ttl=64 time=0.029 ms

netstat -a | grep 3000

has nothing when server is started:

[2016-02-11 03:49] top1select commented on #1725
This worked for me:

rails s -b 0.0.0.0 -p 3000

[2016-02-11 03:51] #1725 closed

[2016-02-12 08:53] usmanarif opened #1731 "Facebook with click agree to Terms of use"
Is it possible to enable users so that the they can log in with facebook but  still have to click agree to terms of use and privacy policy.
Any comments on this is appreciated.

[2016-02-12 12:18] #1731 closed

[2016-02-13 03:50] top1select opened #1733 "Pageless issue, can also be reproduced on maggieskidsmarket.com"
Hello,

FYI, this issue can also be reproduced on https://www.maggieskidsmarket.com/

This is what happened:

When you are on homepage with grid view (home-fluid-thumbnail-grid-narrow), then scroll all the way down, say beyond 5 pages, then click a listing, go into the detail page, then return to homepage(click go back button), it restarts at the first/second page, instead of staying at the 5th pa

[2016-02-13 05:39] mouddai commented on #1444
I have the same issue,when we open the site in Chrome, only text shows up and the css won't load.

When we run "inspect element" in Chrome, it shows various errors:

Failed to load resource: the server responded with a status of 404 (Not Found)
http://spootfood.lvh.me:3000/images/profile_image/thumb/missing.png Failed to load resource: the server responded with a status of 404 (Not Found)
http://s

[2016-02-15 11:18] rap1ds opened #1734 "Flowdock channel is not in use at the moment"
Hi all! Our Flowdock developer chatroom is not in use at the moment.

We are soon setting up a new chatroom and/or forum and we will inform you when this is done.

[2016-02-16 15:03] priviterag opened #1735 "Send email error in development"
**Sharetribe version:**
bfb405f13a16330704d77c45db934cfe20bf1eae

**Environment:**
OSX 10.11.3 (El Captain)

**Server more:**
development

**Description:**

after a fresh install and configuring to use gmail smtp, I get the following error (delayed job log) on second try (first works fine) when inviting new users:
[code]

[2016-02-18 14:54] vbklv opened #1746 "Cannot book a rental listing for one day for the current or the next day"
##### Sharetribe Version:

v5.0.0
22e25f2

##### Environment:

Local Development on OSX (Ruby 2.1.6)
Production deployed on EngineYard

##### Server mode:

Development

##### Description:

Marketplace is set to renting out.

When trying to make a new booking for an item with start_on and end_on dates on the current date or one day after, the booking start_on and end_on dates are set to Mon, Feb 01

[2016-02-19 13:22] #1746 closed

[2016-02-21 11:20] apaatsio opened #1751 "Invalid Flowdock invitation link in CONTRIBUTING.md"
In CONTRIBUTING.md there is a link to https://www.flowdock.com/invitations/de227bdbe48d24c31a6b749933d3b4eca82e307c but following that link goes to a page that says "Invitation could not be found"

[2016-02-22 03:24] top1select commented on #1657
1. Stripe
2. Stripe and PayPal

[2016-02-22 07:21] #1751 closed

[2016-02-22 07:23] rap1ds commented on #1751
Sorry about that. The Flowdock channel is not in use at the moment. We're setting up a new communication channel at the moment.

[2016-02-22 12:37] rap1ds commented on #1706
@tee-vee Thanks for reporting the issue.

I was able to reproduce it with a fresh install when I started `rails server` in production environment.

[2016-02-22 12:50] rap1ds commented on #1724
Hi @priviterag

I'm not sure if I totally undestood the question. Can you tell me a bit more about your setup?

Did I understand right, you're having two environments (two server processes), one which is e.g. production environment and one which is staging environment. Those are running in production.domain.com and staging.domain.com and you'd like to identify the environment from the subdomain. I

[2016-02-22 12:50] #1724 closed

[2016-02-22 13:02] rap1ds commented on #1735
@priviterag Thanks for reporting the issue. We've seen this happening a couple of times. I'm not exactly sure why this happens, but apparently it has something to do with the Rails class loading mechanism. This shouldn't happen in production environment where classes are eagerly loaded.

As a quick fix, you can try to change the `config/initialize/delayed_job.rb` line 34 from

[code]

to fully qua

[2016-02-22 13:02] rap1ds commented on #1735
More info: https://github.com/activeadmin/activeadmin/issues/2334

[2016-02-22 13:04] rap1ds commented on #1592
We're not using AssetSync anymore so this bug is most probably out-dated.

[2016-02-22 13:04] #1592 closed

[2016-02-22 13:05] rap1ds commented on #1651
Inactive. Closing.

[2016-02-22 13:05] #1651 closed

[2016-02-22 13:13] rap1ds commented on #1639
I'm not able to reproduce this with the newest version 5.4.0.

Do you still have the issue?

I'm closing this ticket, but if you have any additional information how to reproduce the bug that would be helpful!

[2016-02-22 13:13] #1639 closed

[2016-02-22 13:24] rap1ds commented on #1647
Tried to reproduce this. I was able to create a marketplace in Chinese. So the issue is probably somewhere else. At the moment I don't know how to reproduce this, so I'm closing the tickets.

If you have any tips how to reproduce, feel free to post them to this thread.

[2016-02-22 13:24] #1647 closed

[2016-02-22 15:58] vbklv opened #1757 "Warnings for REMOVED_LOCALES already defined"
##### Sharetribe Version:

80a0a888

##### Environment:

OSX

##### Server mode:

Development

##### Description:

There is a warning on every sql update every:

DEBUG   SQL (0.9ms)  UPDATE `delayed_jobs` SET `delayed_jobs`.`locked_at` = ...
/sharetribe/config/routes.rb:52: warning: already initialized constant REMOVED_LOCALES
/sharetribe/config/routes.rb:52: warning: previous definition of REMOVE

[2016-02-22 16:01] vbklv commented on #1657
1. Mangopay
2. It doesn't matter as long as there are many tasty transactions

[2016-02-22 16:46] ptzool opened #1758 "Sphinx doesn't work well"
##### Sharetribe Version:
The newest version of sharetribe (commit: 11307) REV-PARSE: 2d8d8a23a02d968ff7d62eaa6b31ff47e0947fbd

##### Environment:
Own server.

##### Server mode:
Production

##### Description:
I upgraded the system to the newest version of sharetribe, everything was fine but when i checked the search I realized it didn't work well. If the search string contains for example 'éáúűüö

[2016-02-23 07:32] rap1ds commented on #1757
Thanks for the report!

This is only a warning, so it doesn't brake anything or cause any issues. However, I agree it's kinda annoying.

If someone wants to fix this, I'm happy to accept the pull request!

[2016-02-23 07:35] rap1ds commented on #1758
Thanks for the report.

@mporkola @Gnito @ovan What do you think, could this be related to the new search?

[2016-02-23 09:20] sktoiva commented on #1758
I couldn't reproduce the issue on my local installation. However, this reminds me on an issue we had a while back where searches failed with those characters. It was related to Thinking Sphinx adding SQL command `SET NAMES utf8` as part of the indexing process if the database connection settings have encoding set to utf8. It should normally be default in Rails, but with e.g. Heroku it should be at

[2016-02-23 14:33] ptzool commented on #1758
Hi,

I cheked my DB encoding settings and everthing is utf8. I ran `ts:rebuild` and after it I noticed following things.

I got this message and I don't unterstand some lines in message. For example

skipping non-plain index 'custom_field_value'...
skipping non-plain index 'listing'...

[code]

[2016-02-23 19:49] woto opened #1763 "Connection pool problems in production with webrick and puma"
##### Sharetribe Version:
c0a21707adc57b5859d90ac6e915e1803a4b240d

##### Environment:
Ubuntu 15.04

##### Server mode:
production mode

##### Description:

Hi, it seems that's i stumbled upon problem described in this articles
http://stackoverflow.com/a/27072918/237090
https://bibwild.wordpress.com/2014/07/17/activerecord-concurrency-in-rails4-avoid-leaked-connections/
When i accessing non existe

[2016-02-23 21:59] woto commented on #1763
Not sure that this 100% good solution, but it definitely works for me.

[code]

[2016-02-24 08:32] rap1ds commented on #1735
I'm also seeing this error constantly in my development environment. Super annoying, makes development almost impossible.

Restarting the worker works as a quick fix.

[2016-02-24 08:59] #1706 closed

[2016-02-24 13:55] sktoiva commented on #1758
That

[code]

is perfectly normal and doesn't unfortunately help here. It just means, that e.g. index `listing` is a distributed index that contains both `listing_core` and `listing_delta` and is therefore skipped as there is nothing to index directly. And as you can see `listing_core` is indexing 728 docs:

[code]

I assume that this `rebuild` didn't help?

[2016-02-24 21:58] ptzool commented on #1758
Unfortunately, no

[2016-02-25 12:41] sktoiva commented on #1758
We probably figured it out.

In the newest Sharetribe version there is a patch level update to Thinking Sphinx gem, and apparently there is some work in 3.1.x versions to make it work with Sphinx v2.2. It seems that something in this upgrade breaks some of the compatibility between the gem and Sphinx. Upgrading Sphinx to newest version fixed the exact same issue in one of our local machines.

Coul

[2016-02-25 14:43] ptzool commented on #1758
Hi,

I upgraded sphinx to `Sphinx 2.2.10-id64-release (2c212e0)` but I have same problem.:(

[2016-02-25 16:06] priviterag commented on #1735
@rap1ds Adding the fully qualified name seems fixing the issue. thanks for your help

[2016-02-25 21:23] gnomet commented on #1758
Sorry to hear that, we hoped that it would have been the reason as it was the fixing move to get it working on our machines locally. Now it's harder to debug the issue at this end as we can't seem to reproduce the same issue with Sphinx 2.2.10..

Just a thought that even though rebuild command should start and stop sphinx, you could try to ensure that all sphinx daemons are stopped ( by looking at

[2016-02-27 19:23] valeda commented on #1155
Any updates on stipe connect ?

[2016-02-28 05:43] pcm211 commented on #1657
CC Payment Gateway

[2016-02-29 08:52] #1735 closed

[2016-02-29 09:22] rap1ds commented on #1733
Hi @top1select

Thanks for reporting the issue.

This is indeed an annoying issue. It's definitely a very bad user experience. However, it's also a damn difficult issue to solve well. Even the big players (Facebook, Twitter, e.g.) have some difficulties implementing this. You can try this, go to Facebook/Twitter, scroll down to load more posts, click a link (that doesn't open to a new tab) and the

[2016-02-29 09:22] #1733 closed

[2016-02-29 18:48] Adonaki commented on #889
any update on this?

[2016-02-29 20:05] JarleKristiansen commented on #889
Thanks, yes it is in progress

[2016-02-29 20:40] Adonaki commented on #889
Cool, any sort of timeline? :)

[2016-03-01 07:00] rap1ds commented on #1763
Hi @woto

Thanks for reporting the issue!

Currently, we don't recommend you to run Sharetribe in a multithread server such as Puma. We haven't tested Sharetribe with multithreaded servers and we can't promise that everything is thread-safe (actually we know that everything is not thread safe). We recommend you to use something like Passenger or Unicorn instead.

I'm closing this issue because we

[2016-03-01 07:00] #1763 closed

[2016-03-01 07:13] #1757 closed

[2016-03-01 10:25] woto commented on #1763
Yea, i found solution. But it looks ugly.
I told you that i also getting problem in webrick, which is not multithreaded.
I found in Internet that somebody wrote that this problem exists because of closing connection before middleware execution.

[code]

[2016-03-01 11:17] rap1ds commented on #1763
@woto Oh, sorry I missed the webrick part!

Thanks for the diff.

[2016-03-01 12:35] indy-guide opened #1788 "Cannot save profile settings"
##### Sharetribe Version: 5.3.0

##### Environment: AWS

##### Server mode: Production

##### Description: Some user get an error message when they add their profile info and try to save it.
He already tried different up-to-date browsers, different profile pictures, and also on his mobile. He’s been trying now for more than a week.

Error message is:
“Network Error (tcp_error)

A communication err

[2016-03-01 13:00] rap1ds commented on #1788
Hi @indy-guide ! Thanks for reporting the issue!

First, try to update to the latest release 5.4.0. We had a bug in the code (misconfiguration) which made the image processing to happen in the request and not in the background as it should. That made the requests longer and prone to timeouts.

So please try 5.4.0 and see if it helps.

[2016-03-03 18:02] mmatker opened #1796 "DL is deprecated, please use Fiddle"
##### Sharetribe Version: b9a2d984d0cd4c985eaeb75f59af454b1e838a46

##### Environment: Windows 10

##### Server mode: Development

##### Description:

When I try starting the serve through the command prompt using rails server I get the Warning message "DL is deprecated, please use Fiddle".  It then trys to start the WEBrick server then automatically shuts down.

##### Steps To Reproduce:

_List t

[2016-03-03 19:30] brakon opened #1797 "What is Zappy?"
From what I see its supposed to be a scala client to query zappos, am I missing something?

[2016-03-03 20:22] rap1ds commented on #1797
Hi! Thanks for asking. See [this comment](https://github.com/sharetribe/sharetribe/pull/1713#issuecomment-185733542)

[2016-03-03 20:22] #1797 closed

[2016-03-04 07:24] rap1ds commented on #1796
Hi! Thanks for reporting the issue!

The two official environments we currently support are MacOSX for development and Heroku for production. We don't officially have support for Windows.

I'm closing this issue now because we don't plan to take immediate actions to fix this issue.

By looking at the error message, I have a hunch that the DL/Fiddle is not the biggest issue. That's only a deprecati

[2016-03-04 07:24] #1796 closed

[2016-03-04 14:05] mmatker commented on #1796
Thanks for that!  I have a Mac so I will give it a try there.

[2016-03-07 15:36] mooreds opened #1801 "image upload fails due to UndefinedConversionError"
##### Sharetribe Version:

71b506b1d9975e71c390c3ffded1c4cd43ea2f47

##### Environment:

ubuntu/trusty64 under vagrant

##### Server mode:

Development

##### Description:

Uploading listing images

##### Steps To Reproduce:

1. bundle exec rails server  -b 0.0.0.0
1. add a listing as an admin user (using microsoft edge and google chrome)
1. try to upload an image

##### Expected Result:

See imag

[2016-03-07 15:38] mooreds commented on #1801
Found this SO question: https://stackoverflow.com/questions/13909812/error-ruby-on-rails-encodingundefinedconversionerror-in-coursescontrollerat but it wasn't clear to me exactly how the file gets uploaded.

[2016-03-07 16:57] mooreds commented on #1734
Have you considered a slack channel?  Not open source, but free.

[2016-03-08 07:29] rap1ds commented on #1801
Thanks for the bug report!

I guess you are using local file system to store the files (not S3), is that right?

Can you try to open the `listing_images_controller.rb` and comment out the line 80? It seems that the logging is failing and commenting out the line that does to logging may help. I guess the logger is trying to dump the uploaded image to the log stream and that is failing.

[2016-03-08 13:56] mooreds commented on #1801
@rap1ds Thank you!

It seems this was a combination of errors, mostly mine.

I commented out that line which you suggested.  This let me see that the job was getting into the delayed_job queue, but still gave me a `image processing` default image.

Then I re-read fantastic install docs and realized I needed to run `bundle exec rake jobs:work` in a different window.  After I did that things worked

[2016-03-08 13:57] mooreds commented on #1801
Oh yes, I am using the local file system.  I expect to use s3 in production, but for local development I thought the local file system was appropriate.

[2016-03-08 15:00] mooreds commented on #1801
Ah, sorry, I just re-read your comment.  In your opinion is it safe to modify the logging statement so it doesn't try to dump the image to the log file?

[2016-03-08 18:12] #1801 closed

[2016-03-09 08:00] rap1ds opened #1806 "New open source community forum! www.sharetribe.com/community/"
Hello everyone!

We have set up a new discussion forum for Sharetribe open source community! It's a [Discourse](https://www.discourse.org/) forum at [www.sharetribe.com/community/](https://www.sharetribe.com/community/).

We hope to see the forum growing actively! Please go and register and start discussing!

So when should you add a new Issue to Github, and when post a new thread to Discourse?

T

[2016-03-09 08:03] rap1ds commented on #1806
Some background:

Before the forum, we had a Flowdock channel for open-source community. The chat room never felt like the best solution, and we have now decided to switch to a community forum.

Switching to a forum gives us many benefits:

* It is easier to find existing answers. Due to the nature of chat, we noticed that the same questions kept coming up over and over again. With a forum, findin

[2016-03-09 08:05] rap1ds commented on #1734
We have now a new community forum 🎉 See the issue #1806 for more details!

https://www.sharetribe.com/community/

[2016-03-09 08:05] #1734 closed

[2016-03-09 08:42] vbklv opened #1808 "Deploy issue with mercury-rails (0.9.0)"
##### Sharetribe Version:

176a4e7

##### Environment:

Engineyard on AWS
ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]

##### Server mode:

Staging

##### Description:

On deployment on the **bundle install** step I get this error:

SystemStackError: stack level too deep
An error occurred while installing mercury-rails (0.9.0), and Bundler cannot
continue.
Make sure that `gem install

[2016-03-09 08:49] vbklv commented on #1808
After updating **gem** from 2.4.8 (latest supported version by Engineyard) to 2.6.1, I get:

NoMethodError: undefined method `spec' for nil:NilClass
An error occurred while installing mercury-rails (0.9.0), and Bundler cannot
continue.
Make sure that `gem install mercury-rails -v '0.9.0'` succeeds before bundling.

[2016-03-09 17:14] vbklv commented on #1808
Issue has been resolved.

[2016-03-09 17:14] #1808 closed

[2016-03-09 19:07] rap1ds commented on #1808
@vbklv Nice to hear that this has been resolved!

Could you summarize how you resolved it, so that if other people face the same issue they know how to fix it?

[2016-03-10 12:28] vbklv commented on #1808
Sure, I am not 100% sure what happened, but this is a short summary of what I have played with:
• I removed the `/data/APP_NAME/shared/bundled_gems` folder
• Then tried several times upgrading and downgrading `rubygems` (to latest supported v2.4.8)
• Then at some point mercury-rails installation worked with `gem install mercury-rails -v '0.9.0'`
• Then the deployment worked (with rubygems 2.4.8 an

[2016-03-10 13:04] rap1ds commented on #1808
@vbklv Thanks for the summary! :+1:

[2016-03-11 13:22] pcm211 opened #1817 "S3 Bucket NOT Working .... Earlier issues are outdated as Sharetribe Version Upgraded & AWS addressing has probably changed"
##### Sharetribe Version:
Stable
##### Environment:
Production: AWS EC2, RDS, S3

##### Server mode:
All Envts
##### Description:

This is an issue with the code in assets_synce.rb, config.yml/config.defaults.yml ... compatibility... and ease of working.

i have deployed sharetribe in production envt , MADE IAM USER and added it to a GROUP which has access to S3 assets, and have overwritten defaul

[2016-03-11 19:31] pcm211 commented on #1817
![assets sync 1](https://cloud.githubusercontent.com/assets/13811638/13713227/ef10125e-e7ed-11e5-840b-87bbe0b42ab7.png)

[2016-03-12 16:31] vuonghominh commented on #1601
How did you resolve this issue?
Appreciate your assistance!

[2016-03-12 19:21] bipashant commented on #1601
@vuonghominh
Seems we can not use the `API calling account as receiver.`
So at first I logged in as a different email address,
Then after the registration, I changed the saved email address with the API calling account email.
This sounds weird but I did this to prevent the necessity of two paypal account in future.
I asked my client to register with different account then After registration, I res

[2016-03-14 10:46] rap1ds commented on #1817
Hi @pcm211 Thanks for reporting the issue.

What's the exact Sharetribe version you are using? You can see this from VERSION file. We haven't been using AssetSync for a while.

(Btw. now that you mentioned it, the asset_sync.rb file should be removed. It's not used anymore)

[2016-03-14 10:47] rap1ds commented on #1788
Inactive. Closing.

[2016-03-14 10:47] #1788 closed

[2016-03-14 11:02] pcm211 commented on #1817
hi @rap1ds ,

i am using the latest version 5.6.0 ...

there is another issue related to this (probably)... which is on changing the look and feel of the sharetribe page ...  the icons dissapear and only boxes and lines appear (placeholders) where there were icons.......  other logo , favicon, desktop pic etc are refleted less the icons (fonts-awesome) which should have been uploaded to s3 ...but

[2016-03-15 07:52] rap1ds commented on #1817
@pcm211 Ok, thanks for details.

AssetSync has been removed long ago, so it's expected behaviour that no assets are synced to the S3 bucket. That's why I'm now closing this issue.

If you still have some other issue than AssetSync, feel free to open a new issue with exact steps how to reproduce.

[2016-03-15 07:52] #1817 closed

[2016-03-15 13:56] niiamon commented on #760
@rap1ds is there a guide on how to run multiple communities in the same sharetribe install? The community creation URL redirects to home page once there's a single community in the db.

[2016-03-15 19:14] ptzool commented on #1758
It works well after upgrade. https://github.com/sharetribe/sharetribe/commit/bbf5acaa05c29fa2dbce92c929da97e73a6be85b

[2016-03-15 19:14] #1758 closed

[2016-03-15 19:22] ptzool opened #1824 "fontawesome-webfont missing after upgrade"
##### Sharetribe Version:

bbf5acaa05c29fa2dbce92c929da97e73a6be85b
##### Environment:

Own server with S3 assets
##### Server mode:

Production
##### Steps To Reproduce:

I upgraded sharetribe to https://github.com/sharetribe/sharetribe/commit/bbf5acaa05c29fa2dbce92c929da97e73a6be85b and after it the system doesn't find fontawesome-webfont on S3.
![sharetribe](https://cloud.githubusercontent.com/

[2016-03-16 01:57] pcm211 commented on #1824
copy your local assets to s3 bucket... partial bucket working is not allowed....in code

in the assets folder (S3) bucket ... add the font-awesome folder from the local server you are working on ....

Its bit of a hack ....but wrks fine

[2016-03-16 07:50] rap1ds commented on #1824
@ptzool Thanks for reporting.

What was the version from which you updated?

[2016-03-16 12:27] ptzool commented on #1824
From 5.5.0

[2016-03-18 23:59] priviterag commented on #1657
Braintree

[2016-03-19 11:48] ankurj77 commented on #1801
I also got the same error. The way I fixed the issue was to add a dependency in Gemfile:
gem 'activesupport-json_encoder'

This fixed the issue without commenting out the line 80 in listing image controller.

[2016-03-20 15:40] mooreds opened #1833 "Can't run tests, fails with "cannot load such file -- rails_helper""
##### Sharetribe Version:

efae2f0d50382660c77d1783a07204f2efdc8126

(I'm making some changes, so that may not be in the GH repo.)

##### Environment:

Ubuntu trusty/64 on vagrant

##### Server mode:

Development

##### Description:

Trying to run the tests, and unable to do so.

##### Steps To Reproduce:

Follow instructions here: https://github.com/sharetribe/sharetribe#running-tests

When you g

[2016-03-20 15:40] mooreds commented on #1833
I merged in master two days ago, if that helps with the versioning at all.

[2016-03-20 15:41] mooreds commented on #1833
I guess I'd just modify the docs to suggest the rake action.

[2016-03-21 04:32] ankurj77 opened #1834 "System memory keeps increasing until it fills up entire RAM"
##### Sharetribe Version:
v5.6.0 => commit d1ea5a4e9bf2cabaa2e6af259969d0c29998c307

##### Environment:
Google Cloud Server - Ubuntu
Linux 3.19.0-56-generic #62~14.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux

##### Server mode:
Development Mode

##### Description:
I run the server and delayed jobs worker in background using following commands:
nohup bundle exec rake jobs:work >> log/delayed-job

[2016-03-21 14:59] rap1ds commented on #1833
I wasn't able to reproduce the issue. I'm on latest master (cdd9e9f), in the root directory of Sharetribe and  both `zeus rspec` and `rspec spec` commands work without any issues.

Is the stacktrace really that short or did you shorten it?

Btw. have you updated your `rspec` or `rspec-rails`? Can you post the versions of these gems from the Gemfile.lock?

[2016-03-21 15:03] rap1ds commented on #1824
Sometime ago we made a change and got rid of the `asset-sync` gem which was responsible for syncing the static assets to S3. So nowadays the recommended way is to use CDN to serve assets:

README:

There was also a bug that fixed for 5.5.0 https://github.com/sharetribe/sharetribe/pull/1756

[2016-03-21 18:39] mooreds commented on #1833
I did shorten it.  Hmmm.  I wonder if I had screwed something up.  Since the workaround was fine, and I'm a rails newbie, it is possible I didn't do something.

Here's the versions of rspec:

[code]

I will just close this out, and if it pops up again for me or someone else, will try to provide more details.

[2016-03-21 18:39] #1833 closed

[2016-03-22 01:51] mooreds commented on #1834
This might be the issue: https://github.com/collectiveidea/delayed_job/issues/776

[2016-03-22 02:19] mooreds commented on #1834
Looks like it is "working as designed" in development mode: https://github.com/collectiveidea/delayed_job/issues/776#issuecomment-151174427

[2016-03-22 06:56] rap1ds commented on #1834
Thanks @mooreds for digging up the link to the Delayed Job issue!

I'm closing this issue because it's not an issue with Sharetribe codebase.

Remember to run your app in `development` mode only when doing development on your local machine.

[2016-03-22 06:56] #1834 closed

[2016-03-22 16:15] thefoodcorridor opened #1840 "S3 process not well documented"
##### Sharetribe Version:

5.6.0

##### Environment:

n/a

##### Server mode:

n/a

##### Description:

S3 setup process is not well documented and should be.

##### Steps To Reproduce:

n/a

##### Additional information

n/a

[2016-03-22 16:15] thefoodcorridor commented on #1840
I have documented this and will send a PR.

[2016-03-22 16:22] mooreds commented on #1840
I noticed that the desire for documentation was mentioned here: https://github.com/sharetribe/sharetribe/issues/1568

[2016-03-22 16:23] mooreds commented on #1840
(Note that this is the first time I've ever used `git rebase`.  I read the contributing document, but please let me know if I missed anything.

[2016-03-23 04:51] ankurj77 commented on #1834
Thanks guys! Just the single config change fixed for me.

[2016-03-23 04:56] ankurj77 opened #1842 "New products are not indexed in development environment"
##### Sharetribe Version:
Sharetribe v5.6.0 - d1ea5a4e9bf2cabaa2e6af259969d0c29998c307

##### Environment:
Google Cloud Server - Ubuntu
Linux 3.19.0-56-generic #62~14.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux

##### Server mode:
Development Mode

##### Description:
When I add new products from admin or any other account, those are not available in the search or filters. When I manually update

[2016-03-23 07:56] pcm211 commented on #1824
![image](https://cloud.githubusercontent.com/assets/13811638/13978784/bd1cf022-f0f9-11e5-8ea5-894b4a820d0d.png)

the problem is supposedly that its got this wierd versioning thing in the end which is not available even in the local assets .... or some script check parameter which it needs to execute .. preloading .. and fails finally to load ... most of the icons ..... (*.ttf?v=3.0.1 & *.woff?v=3.